[2013-08-27 15:49] raymondfeng opened #9 "REST POST requests from swagger with empty body fails"
Let's say we have an api reload:

POST http://localhost:3000/users/:id/reload

Swagger API explorer sets the Content-Type header as 'application/json'. The body is empty. Unfortunately connect middleware is restrict on the empty body for JSON.

[code]

[2013-09-05 22:31] #9 closed, assigned to nobody

[2013-11-15 04:13] ritch opened #19 "Should return 500 when hook throws"
[code]

[code]

[2013-12-14 16:29] raymondfeng opened #29 "API explorer should be able to see newly exposed REST endpoints after it's initialized"

[2013-12-20 22:49] ritch opened #31 "Improve uncaught error handling"
Errors, wherever they occur within the invokation of a remote method should be caught and passed back as `500`. They should never crash node.

Something like this could catch a lot of errors...

[code]

A better approach might be to embed domains into adapters.

[2014-01-07 00:23] #31 closed, assigned to nobody

[2014-01-07 00:23] #19 closed, assigned to nobody

[2014-01-09 18:10] raymondfeng opened #34 "Infinite recursion for JSON object with circular refs"
If the argument http source is 'req', it runs into an infinite recursion for the code at https://github.com/strongloop/strong-remoting/blob/master/lib/shared-method.js#L199.

[2014-01-10 22:23] raymondfeng opened #35 "Stream as an accepts/returns argument"
I'm trying to implement a 'download' remote method that will pipe a stream into http response. For example,

function download(..., cb) {
     var in = fs.createReadStream('1.jpg', ...);
     in.pipe(res);
}

There are a few options:

1. Have the download function to callback with a ReadStream so that strong-remoting will pipe it into the response.

2. Invent a way to declare req/res parameters so

[2014-02-21 21:16] ritch opened #49 "RFC: strong-remoting 2.0"
**WIP** Basic design proposal for 2.0.

**Features to drop:**
- instance method support
- "SharedClass" concept

**2.0 new features**
- Better stream / multipart message support
- Invoke client methods from the server
- XML support for REST

**2.0 adapters**
- **HTTP**
- **REST**
- **STOMP**
- **AMQP**
- **BrowserChannel**

**2.0 classes**
- `Message` - message data
- `BaseAdapter` - implements al

[2014-02-21 23:37] mauron85 opened #50 "Calling API endpoint with filter parameter kills server"
According to docs http://docs.strongloop.com/display/DOC/Model+REST+API
filter should be used as

[code]

However swagger API explorer generate url

[code]

which immediatelly kills server with exception

[code]

[2014-02-22 04:57] #50 closed, assigned to nobody

[2014-04-30 23:08] pennycoders opened #56 "User acct. confirmation is broken"
User acct. confirmation does not work. I'm going to fix it through a pull request  (My previous one doesn't seem to be alright).

[2014-05-02 19:24] albertoleal opened #58 "Should use res.json() when the accept is application/json instead of res.jsonp()"

[2014-05-02 20:40] #56 closed, assigned to nobody

[2014-05-05 14:20] #58 closed, assigned to nobody

[2014-05-30 06:55] bajtos opened #69 "Regression in 1.4.2"
When I run `gulp` in loopback-full-stack-example with strong-remoting `1.4.2` installed, I am getting the following error:

[code]

When I downgrade strong-remoting to `1.4.1`, the app works fine.

/to @ritch Seems this is caused by #65, which renamed `convert` to `defineType`. Since `convert` was already published, it must be preserved as an alias for `defineType`. Once it is fixed, we should unp

[2014-06-03 09:03] #69 closed, assigned to ritch

[2014-06-07 16:22] fabien opened #73 "sharedCtor not working - examples borked"
It seems that the sharedCtor implementation has changed, causing the current examples (in /example) to fail without any output (HTTP: 204). SharedMethod.toResult returns undefined, causing subsequent instance method calls to fail.

Run: `/example/shared-class.js` and visit `http://localhost:3000/dog/fido/speak`

`Shared class \"dog\" has no method handling GET /fido`

[2014-06-10 04:23] kktam opened #74 "slc run crashed with error (Error: Cannot find module './lib/remote-objects')"
Hi

I am trying to compile strongloop sample app, and when I run "slc run" I get the following error.

$ slc run
strong-agent v0.4.6 profiling app 'sls-sample-app' pid '1096'
strong-agent dashboard is at https://strongops.strongloop.com
strong-agent using collector https://collector.strongloop.com:443
supervisor running without clustering (unsupervised)

module.js:340
    throw err;
          ^
Er

[2014-06-13 21:43] #49 closed, assigned to bajtos

[2014-06-13 21:51] ritch opened #75 "Body Namespaces"
It should be easier to map nested argument values to a request or response body.

The primary use case for this is when a client or server requires a specially formatted body. This should not affect the implementation of the method at all nor require a custom hook.

[2014-06-14 13:20] fabien opened #76 "Add option to hide accept args"
… to prevent them from showing up in the Explorer.

Something along the lines of `public: false`:

[code]

By default, only actual arguments (that can be sent by a http request as part of the API) should be visible anyway.

[2014-06-18 22:46] #74 closed, assigned to nobody

[2014-07-05 16:37] STRML opened #79 "Additions to accept/returns type definitions"
This relates to the Swagger 1.2 update at strongloop/loopback-explorer#14.

Swagger allows the display of model schemas inside the route definition, both as the return type:

![return](http://i.imgur.com/6nb2wDu.png)

And as a parameter type:

![param](http://i.imgur.com/qzzeXN6l.png)

This requires that route definitions are able to mark their `returns` and `accepts` values as the model itself. M

[2014-07-15 17:01] ritch opened #81 "[2.0] URLs should default to lowercase / dasherized (both configurable)"
This is a breaking change. You should be able to configure the URL style to support old clients though.
## 1.x

[code]
## 2.x (proposal)

[code]

[2014-07-23 17:55] fabien opened #84 "req.pause/resume in prototypeMethodHandler (or multipart upload fails)"
@raymondfeng for the same reason as https://github.com/strongloop/loopback-storage-service/issues/7 - the restPrototypeMethodHandler should pause and resume the request:

[code]

I previously didn't notice this while using the memory connector, but now, using mongodb, file uploads started to fail because the req had already begun emitting data events (mongo io being slower than memory, uncovered t

[2014-07-23 20:04] #76 closed, assigned to nobody

[2014-08-01 15:49] #73 closed, assigned to nobody

[2014-08-07 16:18] ryedin opened #91 "http verb not documented"
It took me a while to figure out how to restrict a method by http verb, as it's not documented anywhere that I could find. I eventually stumbled on this example code (https://github.com/strongloop/strong-remoting/tree/master/example/rest-models) which shed light on the topic.

In general, I feel documentation is a weak point for all Strongloop projects... very sparse and not very well organized. T

[2014-08-12 12:02] #84 closed, assigned to nobody

[2014-08-21 20:11] STRML opened #94 "Not possible to set `shared=false` on resolved methods"
This is related to https://github.com/strongloop/loopback/issues/477.

[This line](https://github.com/strongloop/strong-remoting/blob/b2b29751061435433e6b8ad43b133488c8cf5cf5/lib/shared-class.js#L96) makes it impossible to disable relation REST methods, as new SharedMethods are created each time `ModelClass.methods()` is called, ensuring that all relation methods will have `shared=true`.

Ideally,

[2014-09-12 21:26] ritch opened #100 "Support prototype methods via HttpInvocation"
Right now when calling `RemoteObjects#invoke(methodName, ctorArgs, args)` the `ctorArgs` are not passed to the `HttpInvocation`. The `HttpInvocation` constructor needs to accept `args` as well as a combination of `ctorArgs` and `args`.

Also the implementation of `HttpInvocation#invoke()` should take these `ctorArgs` into account in `createRequest()`. I'm thinking they can just be `concat()`ed wit

[2014-09-17 14:38] STRML opened #102 "Logging from rest-adapter.errorHandler"
I'd like to open up a small discussion on logging from this module - I often find it difficult in development to find stacktraces for errors that occur within my routes. They are never printed to the console, they are instead sent out the pipe to the client (except in production, because of a recent PR I submitted).

Of course, one can `debug.enable('strong-remoting:rest-adapter')` but there is a

[2014-09-18 01:14] #81 closed, assigned to nobody

[2014-09-18 03:51] coodoo opened #105 "HttpInvocation.invoke() should support authentication"
When replicating local model with remote models, it will trigger REST end points on remote server, sometimes it would be necessary to pass TOKEN in the request header for authorization, it's not possible with current implementation.

Ideally, TOKEN should be passed down all the way from persisted-model when invoking, or better yet, token can be stored somewhere (probably app.settings{} or app.conf

[2014-09-25 20:50] greaterweb opened #107 "Error in shared-method.js. Impacts 2.2.0, 2.2.1"
[Loopback](https://github.com/strongloop/loopback) includes strong-remoting [^2.1.0](https://github.com/strongloop/loopback/blob/master/package.json#L40) as a dependency. This now grabs 2.2.1 which prompts the following bug.

[code]

The call is made here in [shared-method.js](https://github.com/strongloop/strong-remoting/blob/56e388410d47361b169b358e808dd60070fc2891/lib/shared-method.js#L66).

Th

[2014-09-26 17:18] #100 closed, assigned to nobody

[2014-09-29 15:36] #107 closed, assigned to nobody

[2014-10-07 14:12] #94 closed, assigned to ritch

[2014-10-23 00:04] #102 closed, assigned to nobody

[2014-10-23 11:06] bajtos opened #117 "Instructions for customising REST errorHandler"
We need to document instructions for setting a custom `errorHandler` via `server/config.local.js`.

https://github.com/strongloop/strong-remoting/pull/114 implements support for `errorHandler` option, #337 will hopefully modify `loopback.rest` to pass `app.get('remoting').rest` options to the REST handler.

[2014-10-23 11:07] #117 closed, assigned to bajtos

[2014-10-23 21:02] gcirne opened #118 "Default Chrome/Firefox Accepts header forces an xml response when a json response was expected"
I have an API built with Loopback which only supports json responses.

If I access my API using Chrome, its default Accepts header (text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8) forces an xml response to be returned. This was introduced by commit 066e9bdf5fe95395296129b1e6e51f2b0b41de56.

Is there some way where I can configure which types my API supports?

[2014-11-07 21:00] ghost opened #124 "JSON-RPC Adapter"
I'm getting the following error when I try to access some remote method

[code]

Can somebody help me?

[2014-11-11 19:36] drFabio opened #129 "Disable methodNotFound and urlNotFound"
Is there a way to overwrite the methodNotFound and urlNotFound methods of a adapter on loopback?

[2014-11-13 18:37] #118 closed, assigned to nobody

[2014-11-20 17:44] BerkeleyTrue opened #138 "sharedClass instanceof SharedClass returns false"
Not sure if this is a loopback-connector-remote issue as this pertains to scripts within strong-remoting, so I will post here too.

Using loopback-connector-remote 1.0.2, loopback 2.8.0.

Bundling (with browserify) loopback and serving to client. On initiation, my app crashes with `Uncaught AssertionError: false == true`, not a very helpful error message.

After some investigation, seems like this

[2014-11-24 15:50] #138 closed, assigned to nobody

[2014-11-26 16:31] altsang opened #139 "transport module for websocket support"
this continues the transport module in discussion in #127, specifically Primus.

Here's some interest data, caveat it may be old - https://medium.com/@denizozger/finding-the-right-node-js-websocket-implementation-b63bfca0539

[2014-11-28 14:53] #124 closed, assigned to nobody

[2014-11-29 10:04] bajtos opened #141 "Move adapters to standalone packages"
- Implement a mechanism allowing strong-remoting users to provide their own transport/adapter implementations.
- Move all adapters except REST to standalone packages, e.g. strong-remoting-jsonrpc, strong-remoting-socketio, etc.

Benefits:
- Boost for innovations. Users can implement a custom adapter in their own module, they don't have to wait until it is landed in strong-remoting core.
- Fine gra

[2014-12-06 23:27] BerkeleyTrue opened #143 "coerce id "0668" detects integer, returns 688;"
Using model id's that allow for leading zero's and all number characters causes the coerce function in http-context.js [here](https://github.com/strongloop/strong-remoting/blob/67d4b139f323ce2a5e7a2e785320f66776275e92/lib/http-context.js#L188) to change model ids to integers and remove leading zeros.

This was causing a new model to be created with id 688 and model '0688' was not being updated.

N

[2014-12-07 02:13] carlos-technogi opened #144 "Application crashes when receiving wrong arguments in a REST call"
With some arguments in a REST call the application crashes. For example:
http://0.0.0.0:3000/api/MyModel?filter=e
I get this:
/Users/carlos_technogi/development/projects/technogi/pip/api/node_modules/loopback/node_modules/strong-remoting/lib/shared-method.js:211
          throw err;
                ^
SyntaxError: Unexpected token e
    at Object.parse (native)
    at convertValueToTargetType (/Use

[2014-12-08 16:31] raymondfeng opened #146 "Allow remote methods to be classified as 'READ' or 'WRITE'"
LoopBack hard codes the mapping of CRUD methods to READ/WRITE at https://github.com/strongloop/loopback/blob/master/lib/model.js#L306. It doesn't work for custom methods, see https://github.com/strongloop/loopback-component-storage/issues/10#issuecomment-66132814.

I propose that we allow developers to declare `accessType` for shared methods, such as,

UserModel.remoteMethod(
      'resetPassword'

[2014-12-08 17:07] #144 closed, assigned to nobody

[2014-12-10 15:43] bkniffler opened #149 "convertValueToTargetType crashes process"
Hi,
I've been using Loopback and I noticed that something like `http://localhost:3000/api/tags?filter=%5Btest%5D` causes the whole server to crash.

Here is the exact stack trace:

[code]

Here is my provisional fix:
https://github.com/bkniffler/strong-remoting/commit/55590e11dc596bcb7bf3ad723ddeb78265f89844

[2014-12-15 13:17] #149 closed, assigned to nobody

[2014-12-18 07:08] #129 closed, assigned to bajtos

[2014-12-26 17:21] BerkeleyTrue opened #150 "Remote Connector Does not call execHooks on invoke"
Is there a specific reason why the [RestAdapter.prototype.invoke](https://github.com/strongloop/strong-remoting/blob/master/lib/rest-adapter.js#L100) method does not call execHooks?

I am extending loopback-connector-remote to hook into user.login/logout and these do not get called due to the above.

I would be glad to submit a PR if there is not specific reason.

[2015-01-11 13:56] STRML opened #154 "Using `arrayItemDelimiters` properly"
Is there a good way to use `arrayItemDelimiters` and maintain support for accepting JSON arrays?

I want to be able to accept `["a","b","c"]`, as well as `a,b,c` in a querystring.

If not, I'll take a harder look at #142 and put together a patch.

[2015-01-11 14:08] STRML commented on #154
Closing in favor of #155.

[2015-01-11 14:08] #154 closed

[2015-01-13 00:43] ritch commented on #146
This is merged.

[2015-01-13 00:43] #146 closed

[2015-01-13 18:38] bajtos commented on #150
@BerkeleyTrue is this fixed now that #152 was landed?

[2015-01-13 22:08] BerkeleyTrue commented on #150
@bajtos Yes. Closing.

[2015-01-13 22:08] #150 closed

[2015-01-14 13:14] aars opened #158 "express 4.11.0 deprecated req.param()"
Submitting patch.

[2015-01-14 18:06] bajtos commented on #158
Hi @aars, thank you for the patch. Please send it as a pull request, you can learn more about GitHub pull requests in their [docs](https://help.github.com/articles/using-pull-requests/).

Also please reword the commit message to follow the [50/72 rule](http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html). Use imperative tense ("Remove use of ...") and don't include the issue numbe

[2015-01-14 18:06] #158 closed

[2015-01-14 18:07] bajtos commented on #158
Never mind, I can see that you have already submitted the patch in #159. Next time, it's enough to send a pull request, there is no need to create another issue.

[2015-01-14 18:10] aars commented on #158
Ah yeah. I misread this part "Create a GitHub issue for large changes and discuss the change there before coding. You can skip this step and submit the pull request for minor changes."

This is not a large change :)

I will also mind the tense of the commit messages, this style of messages was recently forced upon me and I'm still used to it.

[2015-01-14 18:22] bajtos commented on #158
Yeah, I totally understand that, I used to be used to past tense for many years and it took me several months to eventually adapt to the new style.

[2015-01-14 19:37] ritch opened #160 "Not handling errors after client invoke()"
https://github.com/strongloop/strong-remoting/blob/master/lib/rest-adapter.js#L121

The `err` is not handled from this callback.

[2015-01-14 21:29] BerkeleyTrue commented on #160
I'm on it.

[2015-01-22 18:41] #160 closed

[2015-01-27 17:48] bajtos commented on #105
Related? strongloop/loopback-connector-remote#11

[2015-01-30 18:08] ritch commented on #143
Here is what I'd like to do to fix this:

1. Take the type of the argument into account to allow explicit type coercion
2. For non-typed arguments... support intelligent coercion using @BerkeleyTrue's suggestion (leading with a 0 is a string)

I would consider 1 an enhancement and 2 a bug fix. I'll create separate issues to track these changes.

[2015-01-30 18:11] ritch opened #167 "Better argument coercion"
See https://github.com/strongloop/strong-remoting/issues/143

~~I'd like to add support for explicit argument coercion using the type defined in accepts.~~

**Edit: we already support this via `Dynamic`.**

For non-typed arguments (eg. the `id` property in the url path of `PersitedModel.create()`)... we should support intelligent coercion. This should follow this basic algorithm:

1. if we know th

[2015-01-30 21:57] sethetter opened #170 "Use of deprecated req.param() from express in HttpContext#getArgByName"
This issue came up came up while using [loopback-testing](https://github.com/strongloop/loopback-testing) and noticed deprecation warnings from express about `req.param()`. Here are the [offending](https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L142) [lines](https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L153).

[2015-01-31 00:41] ritch commented on #34
This should be fixed now... I'm pretty sure @kraman is using this.

[2015-01-31 00:41] #34 closed

[2015-01-31 01:00] kraman commented on #34
/cc @ritch @raymondfeng
I am using `accepts: {arg: 'ctx', http: {source: 'context'}}`, Haven't used `req` source.

[2015-02-02 17:52] bajtos commented on #170
Fixed by #171

[2015-02-02 17:52] #170 closed

[2015-02-06 02:10] ritch opened #175 "Preserve non-200 status when no content will be sent"
Here is a potential implementation...

https://github.com/strongloop/strong-remoting/pull/174/files

[2015-02-11 18:38] ritch opened #176 "Client benchmark"
Details tbd....

Ensure correct pooling is used with **request**

@bajtos

[2015-02-11 19:39] bajtos commented on #176
@ritch isn't this a story for loopback-connector-remote instead?

[2015-02-11 20:47] ritch commented on #176
Maybe...

[2015-02-13 06:06] bitmage opened #177 "Browser-Request doesn't work in most browsers"
One of your dependencies, [browser-request](https://github.com/iriscouch/browser-request/), seems to have fallen out of maintenance.  There's a number of [pull requests with no responses](https://github.com/iriscouch/browser-request/pulls) and the library hasn't had any activity in the last year.

[Browser support is poor](https://ci.testling.com/maxogden/browser-request).  I'm not even sure if th

[2015-02-13 11:03] dantix opened #178 "shared class example doesn't work as expected"
I got "roof! my name is Dog" no matter what name I use in request params, ```this.name``` in object is always a Dog.

Moreover property 'name' is always containing name of type and another properties are not getting initialized.

[2015-02-17 23:12] ritch commented on #177
Agreed.

Basically yes.

This might require some changes to `request`. It is worth looking into though. I would love to drop the `browser-request` dependency.

[2015-02-19 00:10] ritch commented on #105
`remotes.auth` released as **2.13.0**

[2015-03-04 08:05] bajtos commented on #177
@ritch Is it important to implement this change for our sync v1.0 milestone? If it is, then please assign it to the milestone.

[2015-03-17 21:21] dashby3000 opened #186 "Declarative pattern for response codes"
In order to return a custom non-error response code, you must implement an afterRemoting hook.  The following is an example of an endpoint returning a status of 299.

[code]

We request a more declarative approach.  Something like: `returns: { status: 299, root: true }`

ref: PLATAPI-234

This would be the mechanism for implementing https://github.com/strongloop/loopback/issues/360

[2015-03-23 16:52] #167 closed

[2015-03-23 16:54] ritch commented on #139
Closing in favor of #327

[2015-03-23 16:54] #139 closed

[2015-03-23 16:56] #79 closed

[2015-03-23 16:56] ritch commented on #79
@STRML please chime in if you want to reopen this.

[2015-03-23 16:56] #75 closed

[2015-03-23 16:57] ritch commented on #29
This should be possible now.

[2015-03-23 16:57] #29 closed

[2015-03-23 18:00] STRML commented on #79
I still think the anonymous return schema would be useful; is there anything planned for that?

[2015-03-26 09:18] bajtos commented on #177
One more problem of the current implementation: http-browserify has about 15kb and it requires readable-stream, which adds another 55kb to the browser bundle size.

Ideally, the remote connector should use an API that is closer to browser's XHR, so that the code overhead is as small as possible.

[2015-03-27 16:13] ritch commented on #186
Yeah this sounds good... It belongs in the `http` namespace though.

[2015-03-30 13:41] bajtos commented on #186
Another option to consider: annotate a callback argument as holding the HTTP status code

[code]

[2015-03-31 09:09] bajtos opened #189 "New hook: afterRemoteError"
Consider the use case described in https://github.com/strongloop/loopback-datasource-juggler/pull/545

We should add a new hook triggered whenever a remote request fails, so that users can clean up any resources allocated in "beforeRemote" hook.

**Tasks**

 - [x] #190 implementation in strong-remoting
 - [x] https://github.com/strongloop/loopback/pull/1272 implementation in loopback
 - [ ] Update

[2015-03-31 21:09] ritch commented on #189
Good idea...

[2015-04-01 10:07] bajtos commented on #189
See #190 for the strong-remoting part. I need to implement `Model.afterRemoteError` in loopback once #190 is landed.

[2015-04-02 12:48] #105 closed

[2015-04-02 12:51] bajtos commented on #105
Here is a code snippet showing how to set the access token in a loopback application, assuming that the data-source backed by the remote connector is called "remote":

    app.dataSources.remote.connector.remotes.auth = {
      bearer: new Buffer(token).toString('base64'),
      sendImmediately: true
    };

@ritch I find this rather difficult to use, it took me quite a lot of debugging to find ou

[2015-04-02 17:22] ritch commented on #177
I'd like to fix this with https://github.com/strongloop/strong-remoting/issues/177 @bitmage can you comment there?

[2015-04-02 17:23] ritch opened #192 "Use request instead of browser-request"
@bajtos

https://github.com/strongloop/strong-remoting/issues/177

[2015-04-02 17:29] bajtos commented on #105
Let's follow up here: https://github.com/strongloop/loopback-connector-remote/issues/3

[2015-04-02 17:32] bajtos commented on #192
FWIW, request should work in browserify since https://github.com/request/request/issues/455

In the future, we may want to implement https://github.com/strongloop/loopback/issues/1211 and allow users to provide their own implementation of the http client. This should reduce the size of the browser bundle too.

[2015-04-02 17:55] #192 closed

[2015-04-02 20:10] ritch commented on #177
We are not longer using `browser-request`...

[2015-04-02 20:10] #177 closed

[2015-04-08 07:14] bajtos commented on #189
I have updated the documentation page http://docs.strongloop.com/display/LB/Remote+hooks and described the new `afterRemoteError` hook. @crandmck please review the page and edit as you like.

I am closing this issue as resolved.

[2015-04-08 07:14] #189 closed

[2015-04-09 21:19] ritch opened #200 "Browser: Support partial URLs"
When we `remotes.connect()` to `/api` and we are in the browser, remoting should be smart enough to build the full URL from `window.location.origin` or similar.

[2015-04-09 22:23] BerkeleyTrue commented on #200
:+1:

[2015-04-14 02:27] TonnyTao opened #201 "coerce json type to change will cause bug in iOS project!"
json data in http post body will lost it's type. And will cause a crash bug in iOS project if got unexpected type.

such as

[code]

it will become

[code]

why force change type to int? Is it a bug?

[code]

[2015-04-16 14:39] bajtos commented on #201
@TonnyTao thank you for reporting this issue. Can you please provide us with a simple application to reproduce this problem, see [Reporting issues](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)?

See #168 which introduced this change, and the issues #143 and #167 it was fixing.

I think this may be a bug in the iOS SDK if it does not correctly support numeric ids. @hidey

[2015-04-16 17:36] ritch commented on #200
I think this is a limitation of `request`.

[2015-04-17 23:46] crandmck commented on #105
@bajtos Here is the doc for the remote connector: http://docs.strongloop.com/display/LB/Remote+connector  Feel free to add something there until https://github.com/strongloop/loopback-connector-remote/issues/3 is resolved.

[2015-04-20 16:08] bajtos commented on #105
@crandmck done, I have added a new section named "Configuring authentication". Feel free to improve the content as you wish.

[2015-04-22 10:42] Karabi-Choudhury opened #206 "How can download a csv in a remote method?"
Hi,

I have written a remote method which is doing find based on filter as input. I want the the results of the find to be downloaded to csv in the browser once the user make a call to the api. How can i do it?

[2015-04-22 13:18] bajtos commented on #206
I would recommend to implement an "after" hook that will send a custom response in CSV format using the result of the function.

Below is a sample code to illustrate the idea, note that I did not test it myself.

[code]

[2015-04-22 14:30] Karabi-Choudhury commented on #206
Can i make it a get request

[2015-04-22 16:55] bajtos commented on #206
Sure, see "http.path" in [docs](http://docs.strongloop.com/display/LB/Remote+methods#Remotemethods-Options).

[2015-04-22 22:56] crandmck commented on #105
Thanks. LGTM.

[2015-04-23 06:07] bajtos opened #208 "Cleanup argument coercion and validation"
A follow-up for #207.

 - Move type coercion code from `SharedMethod` to contexts (`HttpContext` and friends)
 - `SharedMethod` should only validate that argument values match argument types
 - Reduce the number of cases that are coerced, return 400 Bad Request instead. Good example: array values coerced to a number/a string.
 - Treat `null` value as empty, i.e. reject requests providing null valu

[2015-04-23 07:11] Karabi-Choudhury commented on #206
Thanks a lot

[2015-04-23 07:34] bajtos commented on #206
I am closing the issue as resolved/answered. Please post any further questions to [our mailing list](https://groups.google.com/forum/#!forum/loopbackjs).

[2015-04-23 07:34] #206 closed

[2015-04-27 18:42] Karabi-Choudhury commented on #206
The file that i get doesn't have .csv extension.How can i enable that?

[2015-05-05 00:46] ritch opened #211 "Support Date strings in `isAcceptable()`"
https://github.com/strongloop/strong-remoting/blob/c7cb7c5e827f2cc96e55bcfbbef19793a0dbabfa/lib/http-invocation.js#L80

Won't allow you to pass a `String` when it expects a `Date`.

/cc @anthonyettinger

Should we allow strings as well (since they will be coerced on the other side)? Right now the behavior is that we just omit the parameter which is confusing.

[2015-06-10 17:37] ritch opened #214 "Support returning a transport agnostic ReadableStream"
Here is a basic example of what I'd like to be able to do:

[code]

For adapters that support multiple encodings (http) we would need a way to specify the required info.

/cc @raymondfeng @bajtos

[2015-06-10 17:40] ritch opened #215 "Primus Adapter"
I'd like to be able to invoke remote methods using primus as the transport.

This adapter should support creating `ReadableStream`s on the server and consuming them on the client.

[2015-06-11 06:36] bajtos commented on #214
FWIW, I think this is a duplicate of #35.

The discussion in #35 has some ideas how this could be implemented.

[2015-06-11 20:31] ritch opened #217 "Deprecate `pipe.dest`"
Once we have https://github.com/strongloop/strong-remoting/issues/214 we should continue along its implementation and deprecate the `http.pipe.dest` option.

[2015-06-16 13:42] gausie commented on #214
Will this support setting result headers programmatically?

I currently need to set the name of the file that is being streamed based on model data. I do so by hacking `res` in as a parameter (using `accepts: [ { arg: 'res', type: 'object', http: { source: 'res' } } ]`) then using `res.setHeader` and finally manually piping my stream to res.

Ideally in closing this bug, it would be made possible

[2015-06-16 18:44] ritch commented on #186
https://github.com/strongloop/strong-remoting/pull/218

[2015-06-23 22:55] ritch commented on #186
Released as **v2.19.0**

[2015-06-23 22:55] #186 closed

[2015-06-26 17:24] ritch commented on #214
@gausie you can do this now by setting a return argument to `{http: {target: 'header', header: 'Content-Type': myDynamicContentType}`. But I think we can make this a bit better by using the streams encoding property or another property that you can just set on the stream itself (so the function stays transport agnostic).

I'd suggest creating a new issue which explains your use case so others can

[2015-07-01 10:58] hideya commented on #201
@TonnyTao would you please check the type of the property with which you are having the trouble?

I guess it is set to `any`.  My understanding is that the coercion code runs only for untyped arg.
If it were `any`, would you check what Obj-C type do you use for the property?  It needs to be `id`, and the code needs to be prepared for handling any type including `NSString` and `NSNumber`.

I checke

[2015-07-06 22:36] ritch opened #222 "Client incorrectly coercing ObjectID"
See https://groups.google.com/forum/#!msg/loopbackjs/hYJVw8jy_PM/IwCS6901o0wJ

We should coerce the ObjectID into some intermediary on the client that preserves the type information.

[2015-07-07 07:40] nareshjois opened #223 "Strings which are only numbers causes issues."
say a request is just
` { "data" : { "customerId" : "2343546576878989879789" } }`

The Coerce function is over enthusiastic and parses the customerId to  `234354657687898987`  to `234354657687898980`, this leads to incorrect values being passed around, Either the Regex test for isFloat needs to be corrected to handle numbers which javascript is good with or strings need not be parsed to floats as

[2015-07-08 15:17] mrfelton opened #224 "Unable to accept XML data through a remote method"
I'm trying to create a remote method that accepts XML data in the POST body. However, after defining the arg I don't seem to be getting the data through to my method.

The arg is defined like:

[code]

However, what I seem to be getting through to the remote method is a string with the content "[object Object]"

I am setting the content type header as `Content-Type: application/xml; charset=utf-8`

[2015-07-08 19:59] mrfelton commented on #224
By adding https://github.com/macedigital/express-xml-bodyparser as middleware in middleware.json I have been ale to make the xml body data available in my remote method, but only by accessing it directly  as in:

[code]

It still doesn't make it's way through as an argument to the remote method.

[2015-07-08 20:13] raymondfeng commented on #224
See https://github.com/strongloop/strong-remoting/blob/master/test/rest.test.js#L233-L273 <https://github.com/strongloop/strong-remoting/blob/master/test/rest.test.js#L233-L273>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get D

[2015-07-08 20:15] mrfelton commented on #224
I understand that you can make it respond with XML data like that, but what I'm looking to do is receive XML data through an argument in `accepts`. My methods doesn't return anything. This is so that I can receive incoming XML data and process it.

[2015-07-09 14:05] pulkitsinghal commented on #222
Hey @ritch, how do I `+1` this on https://waffle.io/strongloop/loopback? I'd like to get this on your immediate queue. I'm blocked from releasing my product into production because of this.

[2015-07-09 15:22] pulkitsinghal commented on #222
Is there some sort of a workaround maybe? Should I hack the model files manually so they explicitly get the right type assigned? How can i explicitly mark a field as `ObjectId` type via a json file? And how can I make sure that all the relational fields use `ObjectId` explicitly as well?

[2015-07-09 18:57] ritch commented on #222
@raymondfeng might know a more clever workaround. I tend to use `guid` for my ID types to avoid the complexity of `ObjectID` entirely. But beware, there are reasons for `ObjectID` related to mongo's specific capabilities (IIRC replication).

[2015-07-09 19:07] ritch commented on #222
@pulkitsinghal

This will use a node module to set the id type to a real `ObjectID`. This should work in the browser as well.

[code]

Another simpler approach is to set the type on the client to string.

[code]

This second workaround highlights the actual issue. The mongodb connector adds some logic to handle ObjectIDs. The remote connector doesn't. The code above just avoids this issue by chang

[2015-07-10 22:36] pulkitsinghal commented on #222
@ritch - it doesn't run, i don't see the log statements execute:

[code]

[2015-07-11 17:58] pulkitsinghal commented on #222
changed `MyModel.properties.id.type = String;` to:
`MyModel.definition.rawProperties.id.type = String;`

But the related keys stay broken (`NaN`), how can I fix those?
{ id: '55a1582e3a34bc98f74d51b4',
  userModelToReportModelId: NaN }

[2015-07-11 18:10] pulkitsinghal commented on #222
Using ObjectId has the same issue with `NaN` for related-models/foreignKeys:
[code]

And it also screws up the [update](https://github.com/ShoppinPal/warehouse-manager-generate-stock-order/blob/774772bed38f001a3ee0c2d12a57be669246b838/generate.stock.order.js#L88) calls:
[code]

[2015-07-11 18:20] pulkitsinghal commented on #222
Setting the related model's id to `String` didn't help either, the foreignKey still ends up as `NaN`:
[code]

[2015-07-11 20:04] pulkitsinghal commented on #222
based on @doublemarked's recommendation, this workaround did it for me, but yeah would be great to get this really fixed :)

[code]

[2015-07-12 03:40] ritch commented on #222
Yeah you shouldn't have to do that.

The problem is that the behavior is in the mongodb connector. The remote connector doesn't auto set the id property to objectid.

What we need to do is figure out a way know that the model has an object ID property from the remote connector. Perhaps the mongo DB connector could write this metadata to the model settings.

[2015-07-12 03:41] ritch commented on #222
@raymondfeng

[2015-07-16 20:45] simoami opened #225 "the `query` parameter in HttpInvocation.createRequest() is not parametrized."
In line https://github.com/strongloop/strong-remoting/blob/master/lib/http-invocation.js#L197
the query parameter is passed in as input but have never been initialized to anything.

It's possible that the proper initialization is:

[code]

[2015-07-17 20:19] yagobski opened #226 "render XML not working"
Hi,

I am using loopback and i want to return xml for some remote methods. I have active xml in config file by editing the variable :
[code]
Returning xml not working is still have json even when i add ?format=xml

in logs i have some warnings like  :
express deprecated res.send(status): Use res.sendStatus(status) instead node_modules/loopback/node_modules/strong-remoting/lib/http-context.js:426:1

[2015-07-23 18:34] ritch commented on #222
@pulkitsinghal

You should be able to just define an `id` property in your model definition using the `String` type. If you set `generated` to true, the mongodb connector will still generate ObjectIDs. This has the side benefit of treating IDs as strings in your model.

[code]

If you have already tried this and ran into issues, LMK as I would like this to be the documented way to use the remote c

[2015-07-24 16:19] pulkitsinghal commented on #222
@ritch - Let me explain how I tested it and why I can't give this a 100% seal of approval but do think this is right~ish.

Usually I [filter and publish](https://github.com/ShoppinPal/warehouse/blob/develop/.npmignore) only the models from my [main project](https://github.com/ShoppinPal/warehouse) to NPM and then download them to my [worker](https://github.com/ShoppinPal/warehouse-manager-generate

[2015-07-24 20:10] simoami opened #228 "remoteObjects.invoke() destroys `included` related models"
I just discovered that if you invoke a rest method with remoteObjects.invoke(), the included related models are stripped. This is a side effect of converting the returned json into a model instance in HttpInvocation logic.

1. A request is created and the response is transformed:
[code]

2. The transformer then converts json response into a model instance:
[code]

3. Dynamic converts the dynamic v

[2015-07-24 20:16] raymondfeng commented on #228
The included object is not a regular property of the model. The constructor probably should pass in a flag to ensure schema-less conversion.

[2015-07-24 20:20] simoami commented on #228
I used RemoteObjects.invoke() because it was the only way I could run acl and before / after hooks for a given method. Any other ways you'd suggest?

[2015-07-24 20:23] raymondfeng commented on #228
Model.checkAccess() has the logic to trigger ACLs.

[2015-07-24 20:32] simoami commented on #228
hmm, I considered that path a week ago. if I am to do to recode the whole logic for orchestrating calls (checkACL, call before hooks, call after hooks...) , my implementation could become vulnerable to future updates.

I see that the Model constructor has a strict property, which could potentially be used for retaining related properties.

what do you think?

[2015-07-24 20:35] simoami commented on #228
or even better, skip model transformation or keep sourceJSON in the model, like `__sourceData`.

[2015-07-24 20:54] simoami commented on #228
Update: I see that the relations are not exactly lost. They're being stored in model.__cachedRelations.

I think I'd just merge that with __data into a new json object.

[2015-07-25 10:44] Rezakhatami commented on #118
very nice

[2015-07-27 23:48] ritch opened #229 "Method not invoked from file based html application"
<img width="1268" alt="screen shot 2015-07-30 at 2 39 13 pm" src="https://cloud.githubusercontent.com/assets/462228/8995899/49ec3f44-36c9-11e5-8ee0-dfb3a9c43808.png">
It looks like no HTTP requests are made when running within a file based app (eg. cordova).

[2015-07-27 23:49] OpenSystemsConsulting commented on #229
Ping

[2015-07-28 16:21] ritch commented on #222
Relations should use the type of the id property / and type information. If this isn't the case we should probably create a new issue in the juggler repo with some reproducable case.

Added the documentation here (under "Using with MongoDB connector"):

http://docs.strongloop.com/display/LB/Remote+connector

[2015-07-28 16:21] #222 closed

[2015-07-31 15:35] #229 closed

[2015-08-06 20:43] ritch opened #234 "Compression middleware breaks `EventSource` requests"
I believe this is the cause of `:ERR_INCOMPLETE_CHUNKED_ENCODING` errors.

Upgrading the version of `event-stream` might fix this.

[2015-08-13 01:04] pulkitsinghal commented on #222
@ritch - the following runs into the same issue with all the changes we coded up earlier: `return client.models.ReportModel.countAsync({where: {id: params.reportId}})` ... should I open a new issue?

[2015-08-23 23:06] pulkitsinghal opened #236 "Unpredictable behaviour when remotely invoking remote methods"
First let me explain why I'm saying that I noticed "Unpredictable behaviour". I ran the same exact code twice and one time it crashed:

[code]

Whereas the next time it ran to completion:
[code]

I've no idea why or how it got `44777` from the first time around but it had to be a junk value being miscast somehow:

[code]

And here's the source code for the remote method itself:
https://github.com/

[2015-08-27 00:37] kflip opened #238 "Timestamps not converted to Date anymore"
Timestamps passed as parameter to remote methods worked in older versions:
e.g.:
	from=1440631417
or in milliseconds
	from=1440631417000

It fails to instantiate a new Date() due a missing conversion from String to Number.
I've made a workaround in Shared-Method.js, but you might want to solve this somewhere else (HttpContext) or differently.

thanks

	...
	function convertValueToTargetType
	...

[2015-09-08 15:06] bajtos commented on #35
As of #218, each "returns" argument can be configured to modify response status code or response header.

[2015-09-08 15:08] bajtos commented on #35
When implementing this feature, we should take into account swagger type "file". It would be nice if the implementation in strong-remoting allowed us to support files in loopback-explorer. See https://github.com/strongloop/loopback-explorer/issues/103

[2015-09-11 02:21] makersu opened #241 "return http status 200 for afterRemoteError?"
any hint before next()?

[2015-09-16 20:16] ritch opened #244 "Document psuedo class "ArgumentDefinition""
Create a stub class and documentation for @crandmck to fill out.

Something like this:

[code]

/cc @crandmck

[2015-09-29 17:23] ritch opened #246 "Add route based lookup API"
This would make it easier for us to support configurations that take an API or route as input instead of an exact `SharedMethod` name. Below are some basic examples

[code]

[code]

[2015-09-29 17:25] raymondfeng commented on #246
Nice

[2015-09-29 18:15] fabien commented on #246
:+1:

[2015-09-30 16:39] bajtos commented on #246
Cool :+1:

[2015-10-30 21:50] ritch opened #250 "Missing SharedCtor hooks..."
`sharedCtor` does not invoke before / after hooks!

[2015-11-04 23:26] jaime-franco opened #251 "Last Update for Accept "application/vnd.api+json" Breaks Apps[Urgent]"
Responses now are default "application/vnd.api+json", in the case in the file  lib/http-context.js is the returned when accepts is */*.

https://github.com/strongloop/strong-remoting/commit/d7d9a73cc77f33c13f31d3c8e57af8277e33363c

[2015-11-04 23:42] jaime-franco commented on #251
If some one has the same problem you can add in the config file

    "rest": {
      "supportedTypes": [ "application/json"]
    }

But it will be great if the default setting is json instead of vnd.api+json

[2015-11-06 00:05] voitau commented on #251
Could someone from Strongloop confirm that the fix suggested by @jaime-franco is a proper fix/workaround? Thanks!

[2015-11-06 00:15] jaime-franco commented on #251
Hi, @voitau  i found the config information on this link :

https://docs.strongloop.com/display/public/LB/config.json#config.json-Remotingproperties

And i think this is a issue because in the documentation you can read :

NOTE: 'application/vnd.api+json' is supported, but is not one of the default types.

And actually this las update change that.

[2015-11-06 00:17] raymondfeng commented on #251
Can you submit a patch so that `case '*/*':` goes with `case 'json':`?

[2015-11-06 00:19] jaime-franco commented on #251
Ok

[2015-11-07 23:25] voitau commented on #251
Thanks for a quick fix! Is there a release with this fix planned?

[2015-11-10 08:51] clarkorz opened #253 "objectId will be parsed to integer if it only contains digit"
e.g.: `GET /api/books/564196793878943870271416` will call `Book.findById()`, but the `id` argument has already been coerce to an integer.

This will cause a 404 error.

[2015-11-10 08:52] clarkorz commented on #253
I think this [line](https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L293) is related.

But I don't have a proper way to fix this. Any idea?

[2015-11-10 09:49] fabien commented on #234
Yes, this is the cause - a good workaround would be:

[code]

Hasn't this been fixed already? I haven't used your event-stream implementation, but I have been doing something similar and had the same issue.

[2015-11-10 10:07] fabien opened #254 "Object values should not be coerced into Loopback models"
See: https://github.com/strongloop/loopback/issues/1806

When replacing this line: https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L213

With the following:

[code]

The previous behavior is preserved, and all failing test cases in my project pass. In theory it sounds great to cast data as much as possible, but in this case it causes a new Model instance to be created

[2015-11-10 16:30] raymondfeng commented on #253
I have a pending PR that fixes the problem but it breaks some tests in loopback-connector-remote. See https://github.com/strongloop/loopback/pull/1221.

[2015-11-11 01:49] clarkorz commented on #253
ok, duplicate. close. see https://github.com/strongloop/loopback/issues/1217

[2015-11-11 01:49] #253 closed

[2015-11-20 15:30] #251 closed

[2015-11-21 02:31] cnaccio commented on #224
I'm having this same problem. @mrfelton did you ever get this working? We're swapping out a legacy API with Strongloop/Loopback, and we're trying to avoid having to update any client code. Any help would be much appreciated. Thanks!

[2015-11-25 05:01] pulkitsinghal commented on #224
@raymondfeng - any updated thoughts on @mrfelton's last comment?

[2015-11-25 07:20] pulkitsinghal commented on #224
@mrfelton - after adding:
[code]
to `middleware.json` ... I do get XML converted to JSON coming through via an argument: `{arg: 'data', required: true, type: 'object', http: { source: 'body' }}` ... is that what you too noticed or is it just a bit different from what you were stating back then?

[2015-11-25 09:07] mrfelton commented on #224
@pulkitsinghal yes, thats essentially what I did in middleware.json, but from memory I wasn't able to get that data coming through as an argument as defined in the model schema. I ended up pulling it out of `http.req`. Interesting to know that you have it working. I'll revisit our code at some point and see I can do the same.

[2015-11-30 12:24] bajtos opened #258 "Incorrect content type in 204 responses (expected XML)"
At the moment, we always return the content header as JSON when there isn't any response payload, even if the XML output is enabled and the client requested it.

[2015-12-07 03:40] pulkitsinghal commented on #258
Where is it in https://waffle.io/strongloop/loopback?

[2015-12-07 15:35] bajtos commented on #258
@pulkitsinghal This issue is sitting in the `Top of Backlog` column, which is our list of candidates to be planned for the next sprint.

[2015-12-09 12:54] bajtos opened #262 "Customize the name of the root XML element"
At the moment, when producing a response in the XML format, strong-remoting always wrap the response body in `<response>` element ([source code](https://github.com/strongloop/strong-remoting/blob/32efdc433f8bd12f1ecc7872c855216b99c0911e/lib/http-context.js#L448-L457)).

We should allow developers to customise the name of this root element, for example to produce a response body like this:

[code]

[2015-12-09 14:48] STRML opened #263 "Required string argument should reject empty string"
In practice, you're going to want to be guarding this anyway, so strong-remoting may as well do it.

Given all the sloppy http coercion, there's in practice little difference between `undefined`, `null`, and `''`. If I mark a string argument as `required`, I expect there to be an actual string there. Thoughts?

If you agree, (and also merge #260), I can form https://github.com/STRML/strong-remotin

[2015-12-09 17:26] STRML commented on #263
Additionally, if we do go this route, I think it makes sense to fail if an array argument is empty in combination with `required`.

[2015-12-10 19:11] pulkitsinghal commented on #262
That sounds good and what is your opinion if I suggest: "Let's not try to wrap it at all, since the user has already set `root:true` which means they've got a handle on it and don't need the framework to wrap anything?"

[2015-12-14 14:34] bajtos commented on #262
I'm afraid that's not possible. Consider the following method:

[code]

In JSON, the object is serialized as follows:

[code]

However, there is no way how to do the same in XML, the following is not a well-formed document:

[code]

That's why we need a wrapper element.

[2015-12-14 14:39] pulkitsinghal commented on #262
@bajtos - Ok I was making the case that as a developer who has set: `root: true`, I would be responsible for returning my data as:

[code]

[2015-12-14 14:40] pulkitsinghal commented on #262
Whatever gets a solution sooner, I won't argue :)

[2015-12-14 14:46] bajtos commented on #262
[code]

Makes sense. It is what I was initially thinking about too. However, to preserve backwards compatibility, we would have to add a new option for that, e.g.

[code]

Implementation wise, I think it will be easier for us to simply change the name of the wrapper element depending on the configuration, rather than detecting whether the returned root object has a single property.

[2015-12-14 15:02] pulkitsinghal commented on #262
@bajtos - Agreed!

If you want me to make code changes and submit PR ... would you mind pointing me to where to start making these changes? I'm often hesitant to submit PRs because in my opinion, the PRs could get stuck when asked to add an unit test ... as I don't really know how or where to do it within loopback.

[2015-12-14 16:03] bajtos commented on #262
@pulkitsinghal I asked @davidcheung to implement this for you. But if you don't mind to contribute the patch yourself, then that would be even better!

The hard-coded 'response' element name is here: https://github.com/strongloop/strong-remoting/blob/df59c64249cabf54cee361f21f51a95be98ec7d9/lib/http-context.js#L347

I found only one unit-test for XML: https://github.com/strongloop/strong-remoting/

[2015-12-15 18:44] ebourmalo opened #267 "Application/json body request with an extended content-type header (charset) should not be coerced"
The initial check to turn off the coercion of the request body when the header is `application/json` was:
[code]

If the `content-type` header is extended with the charset definition (i.e `application/json;charset=UTF-8`), the body is coerced and that is NOT what we want :)

Here is the PR for a fix, updating the check for allowing this use case: https://github.com/strongloop/strong-remoting/pull/

[2015-12-16 00:26] AaronM04 opened #268 "Infinite recursion in httpCoerce with v2.23.0"
Hi, so I did an npm install without upgrading my loopback version, and it bumped loopback's strong-reporting dependency from v2.22.0 to the next minor version. Now I get an infinite recursion:

[code]

[2015-12-16 00:30] AaronM04 commented on #268
This is with a remote method configured as follows:
[code]

Could this have anything to do with the ctx argument (which is recursively defined)?

[2015-12-16 00:34] raymondfeng commented on #268
I think `ctx` has circular references. It should be excluded from coercion.

[2015-12-16 00:37] raymondfeng commented on #268
@STRML @bajtos We should exclude `req`, `res`, and `ctx` from coercion.

[2015-12-16 00:39] STRML commented on #268
I agree, as I mentioned before, the patch was merged half-finished. 2.23.0 should not have been released.

[2015-12-16 00:40] STRML commented on #267
This is also fixed in #264.

[2015-12-16 00:43] STRML commented on #268
See https://github.com/strongloop/strong-remoting/pull/265

[2015-12-16 10:12] bajtos commented on #268
I apologise for the troubles. I am going to revert the patch that introduced this problem - see https://github.com/strongloop/strong-remoting/pull/269

[2015-12-21 07:31] bajtos commented on #258
I have released the fix in `strong-remoting@2.23.2`.

@pulkitsinghal enjoy :)

[2015-12-21 07:31] #258 closed

[2016-01-05 10:19] bajtos commented on #268
Should be fixed in `v2.23.1`.

[2016-01-05 10:19] #268 closed

[2016-01-11 18:40] glesage commented on #224
Hey all, have you been able to get this to work by any chance?

[2016-01-12 18:26] pulkitsinghal commented on #224
@glesage - yes got it to work with the changes outlined in my previous comment

[2016-01-16 05:34] glesage commented on #224
Any ideas if the

[2016-01-27 19:08] davidcheung opened #276 "Update Strong-remoting API docs for promises"
Parent: strongloop/loopback/issues/1409
Related: strongloop-internal/strong-docs/issues/63, strongloop-internal/scrum-loopback/issues/615

`lib/remote-objects.js`
[RemoteObjects.after](https://apidocs.strongloop.com/strong-remoting/#remoteobjects-prototype-after)
[RemoteObjects.before](https://apidocs.strongloop.com/strong-remoting/#remoteobjects-prototype-before)

`lib/shared-method.js`
[sharedMe

[2016-01-28 12:10] #262 closed

[2016-02-02 04:41] webup opened #280 "socket-io example doesn't work"
Seems the code of "client.js" is out-of-date...

[code]

[2016-02-02 05:45] webup commented on #280
After some dive into `lib/socket-io-adapter.js` and `remote-objects.js`, I found adaptor's `connect` method is not implemented for its potential invoking in `RemoteObjects.prototype.connect`, any special reason here?

[2016-02-26 02:01] richardpringle commented on #280
Hey @webup, sorry about the delay in response time! You're right, that example is outdated.
..and some of the socket-io adapter code is outdated as well.

Feel free to try and make the fix yourself and submit a PR. Otherwise, you'll have to be patient and wait until one of us get to this issue.

Thanks for pointing it out and happy coding!

[2016-02-26 02:04] richardpringle commented on #280
All the info you need about the contribution process is [right here](https://github.com/strongloop/loopback/wiki/Contributing-code)

[2016-02-26 15:51] bajtos commented on #35
Closing as a duplicate of https://github.com/strongloop/loopback/issues/213.

[2016-02-26 15:52] #35 closed

[2016-03-09 22:35] jbcpollak commented on #224
I'm having the same problem, but with non-XML data (in my case CSV data, but it should support anything). In short, I would expect that a remote method definition like this:

[code]

would pass the raw body to the remote method. But instead there seems to be something interfering with the processing of the body, and there should be a (documented) way of disabling it.

[2016-03-16 21:21] jbcpollak opened #286 "Delayed exception on undefined Callback in rest-adapter.js"
I have Loopback code that uses the `loopback-connector-remote` and does this:

[code]

When I execute this code, I get:

[code]

Debugging into rest-adapter, it seems the `callback` variable is either lost or being cleared somehow. In the following screenshots you can see that `callback` is still valid until the call to `invocation.invoke`. When that runs, and its callback is executed, the `callba

[2016-03-17 05:35] jbcpollak commented on #286
I tracked the cause of this down - it was caused by an improper call on an _unrelated_ (but also remote) model which was not causing an error. It took 3 days to hunt down.

As I said in the original post, somewhere in my project I had code like this:

[code]

which was throwing the exception above.

Elsewhere in my code, I had:

[code]

`relation` was defined as a `belongsTo` relationship.

callin

[2016-03-17 13:21] jbcpollak commented on #286
I'm having the same problem when trying to call a custom remote method. In ModelB, (as described above) I have:

[code]

On my remote server, which is using `loopback-connector-remote` I call:

[code]

The call works as expected.

Later I run `modelBInstance.save()` and I get the stack trace shown above.

If I comment out the call to the customMethod, everything works fine.

[2016-03-17 13:34] jbcpollak commented on #286
ok, I've finally got it - this problem happens when the developer forgets that the call they are making is asynchronous, and then executes another async call at the same time. For example, I haven't 100% verified, but I suspect this would cause the same problem:

[code]

I would think strong-remoting should be able to detect this situation and at least warn the developer they screwed up.

[2016-03-17 13:48] jbcpollak commented on #286
Now I understand the problem completely. The error I'm getting is that the callback is undefined - and this is actually true, but its the callback of the FIRST call, not the second call that is undefined, and the error isn't thrown until the second call is made, which is really confusiong.

I can think of two solutions:

- Throw an exception immediately if the callback is null - in `rest-adapter.j

[2016-04-08 19:20] VinodhThiagarajan86 commented on #74
Worked for me too !

[2016-04-18 07:33] bajtos commented on #276
@davidcheung @jannyHou  this is still relevant, although possibly in a different way than was originally meant.

These two methods accept an async handler function that is called for every request. This handler function signal the completion either by accepting a callback argument, as is currently shown in our API docs; or it can return a promise.

[code]

This is an internal method that intention

[2016-04-18 14:16] jannyHou commented on #276
@bajtos Thank you for confirming, Makes sense now.
I am closing this issue since doc is not needed.

[2016-04-18 14:33] bajtos commented on #276
@jannyHou I think it still makes sense to improve the doc and show how to write a handler function returning a promise.

[code]

[2016-04-18 15:18] jannyHou commented on #276
oh ok lol @bajtos I will update the doc then. just keep the APIs doc as before.

[2016-05-04 14:24] #178 closed

[2016-05-04 14:26] richardpringle commented on #201
@TonnyTao, I see that this issue is pretty old so I will close it. If you are still having issues, please re-open and mention me directly and I will see what I can do!

[2016-05-04 14:26] #201 closed

[2016-05-04 14:30] richardpringle commented on #143
Looks like this issue has been resolved. Please re-open if there are any further problems.

@bajtos, I know that you have the story to deal with some coercion issues in strong-remoting but I believe that this is not related. Please correct me if I am wrong.

[2016-05-04 14:30] #143 closed

[2016-05-04 14:31] richardpringle commented on #91
Closing due to inactivity. Please re-open and mention me in a comment if need be.

[2016-05-04 14:31] #91 closed

[2016-05-04 14:32] richardpringle commented on #141
@bajtos, is this still happening?

[2016-05-04 14:33] richardpringle commented on #175
Looks like this has been solved. Closing

[2016-05-04 14:33] #175 closed

[2016-05-04 14:34] richardpringle commented on #176
Looks like this issue is no longer relevant. Closing

[2016-05-04 14:34] #176 closed

[2016-05-04 14:37] richardpringle commented on #200
Still doing a little old issue cleanup. I believe that this can be closed. Please re-open and mention me directly if need be.

[2016-05-04 14:37] #200 closed

[2016-05-04 14:41] richardpringle commented on #211
This hasn't been touched in a year. I assume it has either been dealt with or is no longer a concern. If the issue persists I'm going to say we should open a new issue since the context is probably a lot different than a year ago.

[2016-05-04 14:41] #211 closed

[2016-05-04 14:55] bajtos commented on #141
I am afraid this is not a priority right now. I'll remove it from LB 3.0 milestone.

[2016-05-04 15:15] richardpringle commented on #214
Apparently this issue has a couple of duplicates #35, strongloop/loopback-swagger#34, and strongloop/loopback#2209... and I'm realizing now that it leads to a bit of a wild goose chase. I am going to close this issue in favor of the others and I believe that his issue actually may have been solved already by #216.

Please re-open and mention me directly if there are still concerns!

[2016-05-04 15:15] #214 closed

[2016-05-04 15:17] richardpringle commented on #217
Looks like this one was also solved with #216. Closing.

[2016-05-04 15:17] #217 closed

[2016-05-04 15:23] richardpringle commented on #224
Hey guys, from following the comments... it looks like this issue has been "resolved" with a workaround. It also looks to me like there is a feature request here for an easier way to do this. Could someone open a new feature request that clearly defines the objective? I think it could be pretty useful for a lot of users.

cc/ @mrfelton @pulkitsinghal @jbcpollak

[2016-05-04 15:31] richardpringle commented on #225
Hey @simoami, when you click on a line like you did, please hit 'Y' on the keyboard (no ctrl or command or anything). That will reference the actual commit instead of the continuously changing branch (in this case master).

Also, I'm not quite sure what the problem is here... I am going to close the issue for now, please re-open with the new link and a more detailed description of the problem, the

[2016-05-04 15:31] #225 closed

[2016-05-04 15:33] richardpringle commented on #226
Hey @yagobski, sorry for the long delay! For future reference I would recommend posting in the [LoopBack repository](https://github.com/strongloop/loopback) instead.

Did you ever get this figured out or did you move on?

[2016-05-04 15:36] richardpringle commented on #228
@simoami Looks like you solved the issue. Anyway, I think if any related issues come up they should go to [LoopBack](https://github.com/strongloop/loopback) since it involves both the Model Class as well as strong-remoting.

[2016-05-04 15:36] #228 closed

[2016-05-04 15:37] richardpringle commented on #234
@0candy, did you have an issue concerning streams and compression?

[2016-05-04 15:40] richardpringle commented on #236
Hey @pulkitsinghal, did this ever come up again? I would like to close if it hasn't. I also think that this might not be an issue with strong-remoting so I would like to close if possible.

[2016-05-04 15:56] richardpringle commented on #238
@bajtos, can you confirm if this is expected behavior or not?

If we don't expect a number to coerce, then I think there should be a warning in the docs.

[2016-05-04 15:58] 0candy commented on #234
@richardpringle This [https://github.com/strongloop/strong-remoting/pull/294] should fix the issue.

[2016-05-04 16:01] richardpringle commented on #241
@makersu I am sorry but this issue is not descriptive enough for me to resolve. Please re-open with a more detailed description and mention me in a new comment and I will take a look :smiley:.

Otherwise, I hope that you have already figured it out!

[2016-05-04 16:01] #241 closed

[2016-05-04 16:15] simoami commented on #228
@richardpringle I did not solve the issue. I just helped figure this out and offering ways to solve it.

[2016-05-04 18:27] richardpringle commented on #228
@simoami, sorry to hear that it didn't get completely solved. As I said, better to open in LoopBack next time. Can always mention me directly to try and get the issue solved a little faster too.

[2016-05-04 18:27] richardpringle commented on #234
@0candy thanks, closing.

[2016-05-04 18:27] #234 closed

[2016-05-04 18:31] richardpringle commented on #246
+1

[2016-05-04 18:39] richardpringle commented on #263
@bajtos (in case you haven't noticed, I'm doing a little spring cleaning on the strong-remoting backlog) what do you think about this?

I tend to agree with @STRML but I'm not sure about our current users. This might be a good candidate for our next release since there is already a PR.

@STRML, sorry about the lack of attention, we're improving but still have a long way to go.

[2016-05-04 18:55] richardpringle commented on #286
@jbcpollak, we have an improvement on error handling coming sometime soon (within the coming weeks I believe, but don't quote me on it).

I'll label this issue as a bug, but we should keep an eye out for the new error handler though. I'll comment in here when I have more details.

[2016-05-04 18:57] richardpringle commented on #286
I actually think that the PR is right here #296

[2016-05-09 07:44] bajtos opened #298 "Improve coercion of deeply nested queries"
For example, we expect strong-remoting to coerce `gt` value to a number and `done` to a boolean in the following request:

[code]

OTOH, if somebody had the unfortunate name: "Mr. False Undefined Null", then we would expect the `name` value in the following request to be kept as string:

[code]

See the discussion started by https://github.com/strongloop/strong-remoting/pull/231#issuecomment-14055

[2016-05-09 07:49] bajtos commented on #298
Cross posting from https://github.com/strongloop/strong-remoting/pull/231#issuecomment-140551101 and https://github.com/strongloop/strong-remoting/pull/231#issuecomment-140553839:

Right now we do this by inferring the type information. This makes the framework a bit magic, and gives less control to the consumer of the API as well producer. You do have the ability to specify explicit types, but th

[2016-05-09 08:28] bajtos commented on #298
In my opinion, it is not possible to accurately detect which type user wanted to encode in the query string.

Even if we were able to understand the loopback query/filter syntax and use that information to guide type inference (e.g. `gt` operator always expects a numeric value, `done` property is boolean and thus equality operator expects a boolean), it will be difficult to correctly support datab

[2016-05-09 09:09] bajtos commented on #238
Interesting. So if my understanding is correct, when we have `{ accepts: { arg: 'd', type: 'Date' } }`,
it used to be possible to send `?from=1440631417`, where the value was treated as timestamp. @kflip could you please confirm? Do you happen to know the last version where this was still working?

[2016-05-09 17:15] ritch commented on #298
Sounds good.

With this in place I think we can remove any type inference. This would be a breaking change, but would allow us to make the coercion in strong-remoting predictable and explicit.

[2016-05-10 13:18] bajtos commented on #263
+1 for rejecting empty string for required string args. I am not sure about rejecting empty arrays for required array args, perhaps we can add an option to control this behaviour?

I am taking a deeper look at the coercion issues in strong-remoting, let's fix this as part of that work.

[2016-05-12 00:28] vkarpov15 opened #299 "type: 'any' in a remote method can coerce mongodb object ids into floats"
If you have a remote method with a parameter that's `type: 'any'`, [coerce can convert a mongodb object id into a float](https://github.com/strongloop/strong-remoting/blob/aa391d2e65460196ae2a59493f9dd4844622f35d/lib/http-context.js#L296) because mongodb object id hex strings can happen to be all numbers. Easily fixed on my end (use `type: 'string'`) but this is an annoying rough edge in the API I

[2016-05-12 15:08] richardpringle commented on #226
Closing this issue. Please re-open and mention me directly in a comment if the issue persists!

[2016-05-12 15:08] #226 closed

[2016-05-12 15:08] richardpringle commented on #236
@pulkitsinghal, closing the issue for now. Please re-open and mention me in a new comment if the issue persists.

[2016-05-12 15:08] #236 closed

[2016-05-12 15:17] richardpringle commented on #299
Hey @vkarpov15, those types are [LoopBack Types](https://docs.strongloop.com/display/public/LB/LoopBack+types); 'any' is not a type according to the documentation... And now I see that we test for `type: 'any'` <- @crandmck, think we could add that to the above link?

@vkarpov15, there are several issue with coercion that are currently being "cleaned up" by @bajtos , I will make sure that we consi

[2016-05-12 15:21] richardpringle commented on #299
@bajtos, I keep adding the "coercion clean up" to related bugs. If you have a different workflow in mind please let me know. I'm not sure if your fixes will cover all cases, but at the very least I think we should add documentation for any remaining coercion behavior as a part of the milestone.

[2016-05-12 16:06] bajtos opened #300 "Handle endpoints with path parameters"
https://github.com/strongloop-internal/scrum-loopback/issues/755

[2016-05-12 23:48] crandmck commented on #299
Yes, I can add that.

Is the "Any" type name capitalized, as most of the other LoopBack types are?

Will it match just any primitive type, or will it also match Object, Array, and GeoPoint types?

[2016-05-13 01:03] vkarpov15 commented on #299
It was lower case 'any' unfortunately - I assume the person that wrote it in the first place was anxious about whether the parameter would be a string or a full fledged mongodb ObjectId.

[2016-05-13 13:05] bajtos commented on #299
It's `any` and it basically means "anything" - a string, a number (used for IDs in SQL databases), or an object like ObjectID, or even an array or a boolean.

I am pondering an idea of always encoding the id property as strings, see https://github.com/strongloop/loopback/issues/2046

[2016-05-13 16:26] crandmck commented on #299
OK, I added it to the table in https://docs.strongloop.com/display/LB/LoopBack+types (and reordered the table alphabetically).

One final question: Will `any` match a `null` value?

[2016-05-13 19:31] vkarpov15 commented on #299
IMO if you say "any" that should mean "no type coercion please, let me deal with it"

[2016-05-25 14:58] joetinoco commented on #224
@jbcpollak You probably already figured it out, but I'd like to post a solution to non-XML data parsing, just in case someone else is struggling with this.

Just install BodyParser with `npm install body-parser --save` and add this to `middleware.json`:

[code]
`limit` can be changed to whatever you need.

Note that this only works if the `Content-Type` in the request header is set to `text/plain`

[2016-05-25 15:19] richardpringle commented on #224
Thanks @joetinoco!

[2016-05-27 12:09] bajtos commented on #223
{ "data" : { "customerId" : "2343546576878989879789" } }

Hello @nareshjois, I am writing an extensive test suite in https://github.com/strongloop/strong-remoting/pull/304 to capture the current behaviour of our coercion algorithm in different edge cases. I have difficulties reproducing your problem, could you please help me by providing more information?

AFAICT, in the current strong-remoting ve

[2016-05-27 12:24] bajtos commented on #238
This is actually tricky. Both `new Date('0')` and `new Date(0)` are valid ways how to create a new Date instance, however each returns a different value. It makes sense to me to always convert timestamp-like values to numbers before creating a Date value.

I have a question though. How to handle numeric values in scientific notation (e.g. `?ts=1.234e%2B30`) and values that cannot be accurately rep

[2016-06-01 20:40] jbcpollak opened #307 "support HTTP timeouts (and other request options)"
@richardpringle suggested I post a feature request here -

I would like to be able to control the request timeout from the client side, but it appears `strong-remoting` does not expose this functionality - It looks like the project doesn't allow the user to add fields to the request library's `options` object. That might be by design, but I think it would be useful to expose timeout and possibly a

[2016-06-05 01:57] Amir-61 opened #308 "Disable deprecation messages for test suits where we are testing the deprecated methods specifically"
In `shared-class.test.js` we are testing specifically some deprecated methods (like `sharedClass.find()`, `sharedClass.disableMethod(methodName, isStatic)`), temporarily disable deprecation messages via  when we run tests

[2016-06-06 05:44] JoeShi commented on #79
I have tried the following, and in the swagger, it does not show up the inline model. Please correct me

[code]

[2016-06-07 14:26] richardpringle opened #311 "Prototype methods apply ACL checks only after a model instance is found."
When making a call to `VERB api/ExampleModel/:id/operation` the ACL is only checked upon model instance discovery, otherwise you get a 404 response instead of a 401. This indicates that a record with that particular `id` does not exist even if the user does not have permission to check whether particular models exists or not.

[2016-06-08 14:53] bajtos commented on #311
Cross posting @michaelfreund's  https://github.com/strongloop/loopback/issues/2398#issuecomment-224303992

[2016-06-09 16:19] richardpringle commented on #300
Implement PoC (link to follow) and make sure there is full coverage of unit tests.

[2016-06-09 16:29] bajtos commented on #298
Based on the results of the integration test suite I wrote in https://github.com/strongloop/strong-remoting/pull/304, I believe we don't coerce any nested values right now and always pass them as strings. I suspect the coercion of `where` filter is handled by juggler and/or connectors at the moment.

In the light of that, I am proposing to keep deep coercion out of scope of our current work in str

[2016-06-10 08:53] bajtos opened #312 "Fix coercion of input arguments (HTTP/REST)"
Based on the integration test suite written in #304, I am proposing to make the following changes/fixes in the way how we coerce input arguments.

I think most (if not all) of this changes can be considered as backwards-compatible fixes to be landed on 2.x too.

@STRML @ritch thoughts?

---

Terminology:

 - `json body` - the argument is set to the full request body which is JSON encoded
 - `json

[2016-06-10 11:51] bajtos commented on #208
I like the (re)design presented by @STRML in https://github.com/strongloop/strong-remoting/issues/312, especially the fact that we treat built-in and user-provided converters the same way.

I would like to push it a bit further so that user-provided converters can decide how to deal with sloppy coercion from url-encoded sources.

Here are few high-level cases that each converter has to support:

[2016-06-10 12:38] bajtos commented on #312
## Case-insensitive boolean strings

Both `?arg=FALSE`  and `?arg=FalsE` should be coerced to `false.

[2016-06-10 12:57] STRML commented on #312
This all looks really good and I'm glad you guys are taking a serious look at it.

`urlencoding` is probably the trickiest part because there is so much sloppiness in this string-only input method. By far the most coercion should go there.

On the contentious issues:

* If you're accepting an array input for a field, I don't see any semantic difference between `[]` (no items) and `null` (no items)

[2016-06-10 16:32] ritch commented on #312
If you specify `type: 'SomeModel'` strong-remoting will use the converter specified by loopback to `new SomeModel(arg)`, which will set default properties and apply all setters and getters. It will coerce based on the properties `type`.

[code]

[2016-06-10 16:54] ritch commented on #298
In the operators implemented in juggler we do a lot of argument handling and likely convert to the expected type, which seems to work well actually.

The problem exists beyond `filter`. Its just the most obvious example. Perhaps we need to make coercion hookable so that you can handle edge cases instead of us trying to predict all cases? This would allow us to prefer sane / un-magical coercion for

[2016-06-13 07:07] bajtos opened #313 "Describe nuances of coercion in docs"
Based on https://github.com/strongloop/strong-remoting/pull/304#issuecomment-225237243:

[2016-06-16 19:31] richardpringle commented on #300
Make sure `canHandle` covers edge cases.

[2016-06-19 17:15] Pillsoon opened #314 "Cannot handle a bigint path value"
'http-context.js' cannot handle BIGINT values.
Function coerce in 'http-contex.js' uses parseInt to parse path parameters, but it returns number with zeros at the end if bigint value comes.
For example, 1080863953533132595 become 1080863953533132500.

[2016-06-19 18:31] #314 closed

[2016-06-19 18:33] Pillsoon commented on #314
related issue: https://github.com/strongloop/loopback/pull/1221

[2016-06-20 13:15] bajtos commented on #311
@michaelfreund  @zkuang @richardpringle I have submitted to alternative pull requests to fix this issue, see #315 and #316. We are discussing with @ritch what would be the best fix, our concern is backwards compatibility. Feel free to try those patches out in your app and/or leave a comment what do you think.

[2016-06-21 12:47] bajtos commented on #311
The fix is available in `strong-remoting@2.28.1`.

[2016-06-21 12:47] #311 closed

[2016-06-21 15:25] michaelfreund commented on #311
@bajtos we can confirm this fixes #2220 for us.

[2016-07-07 03:58] zkuang commented on #311
@bajtos sorry for the late reply. I'll check them out. Thanks very much.

[2016-07-07 06:19] jzogg opened #317 "Support for `integer` datatype removed from loopback\strong-remoting"
IBM support sent me this way. I had created IBM service request 46011999000 because this is for GoDaddy and we have a paid subscription.

loopback version 2.18.1
strong-remoting version 2.19.0

converting parameter to target type includes explicit support for 'integer' in shared-method.js
lines 390-443

[code]

loopback version 2.28.0
strong-remoting version 2.26.0

converting parameter to target

[2016-07-07 15:24] devInterests opened #318 "Add support for coercion by endpoints with type File"
If you have a remote method with a parameter that's type: 'file' you receive following error:
`"Error: Invalid value for argument 'file' of type 'file': [object Object]. Received type was converted to object.`

As far as I understood the error is in function convertToBasicRemotingType in shared-method.js:

[code]

The type `file` is supported as a separate type. The problem is that the arg is comi

[2016-07-11 21:17] gunjpan opened #319 "Update test cases to be port independent"
Current test cases run server on port 3000, when needed, which crashes other test cases that try to use the same port on same instance causing CI failures.
Goal is to make test server apps port independent.
Parent issue: https://github.com/strongloop-internal/scrum-loopback/issues/932

[2016-07-12 16:58] BoLaMN opened #320 "qs + arrays + object ids"
qs doesn't seem to handle object ids or arrays very well and generates a query string another loopback api server can't pass

generated qs

where%5Bids%5D%5Binq%5D%5B0%5D%5B_bsontype%5D=ObjectID&where%5Bids%5D%5Binq%5D%5B0%5D%5Bid%5D=W%EF%BF%BD%20%EF%BF%BD%EF%BF%BDPi%00%01%2C%EF%BF%BD6&where%5Bids%5D%5Binq%5D%5B1%5D%5B_bsontype%5D=ObjectID&where%5Bids%5D%5Binq%5D%5B1%5D%5Bid%5D=W%EF%BF%BD%20%EF%BF

[2016-07-15 03:52] snowyu opened #322 "[bug] can not identify the undefiend/null value of the boolean type argument."
It always be converted false. It should not narrow it.

lib/dynamic.js:

[code]

Correction:

[code]

[2016-07-18 18:55] richardpringle commented on #224
Closing this issue as it looks like it is solved.

The answer being, use a "body parsing" middleware module from npm (or create your own) and register it in the middlerware.json file.

If anyone feels that this issue, please re-open the issue and mention me in a comment and I will try to make sure we get this thing solved.

[2016-07-18 18:55] #224 closed

[2016-07-19 18:59] raymondfeng commented on #317
@jzogg What is your root requirement? To enable `type: 'integter'` for strong-remoting declarations? (We only support `type: 'number'` today).

[2016-07-19 19:02] raymondfeng commented on #317
FYI: LoopBack swagger spec generation allows `integer` - https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/schema-builder.js#L13

[2016-07-21 05:55] horiaradu opened #324 "Querystring behaviour is inconsistent when integrating other Loopback APIs"
Loopback has a particular interface for REST APIs. It allows you to write a query like so:

`Model.find({where: {id: {inq: [1, 2, 3]}}})`

However, this query is also valid: `Model.find({where: {id: {inq: []}}})`, but it will obviously not return any results.

In this case, the generated query looks like this:

[code]

and decoded, like this:

[code]

The problem is inside [http-invocation.js](htt

[2016-07-21 14:17] BoLaMN commented on #324
references #320

[2016-07-21 15:54] richardpringle opened #326 "arg type is not supposed to be case-sensitive"
Please see strongloop/loopback#2517

[2016-07-22 00:12] gunjpan commented on #317
Following is the proposal re. supporting `integer` data type:
  Enable `type: integer` with a `strict` flag such that:
  - for `strict: true`
    - if input is not `integer` -> **send `400`** (i.e. enforce strict `integer` type)
    -  if output/result is not `integer` -> **send `500`**

  - for `strict: false`
    -  if input is not `integer`-> **truncate** input to `integer` (i.e `2.9` => `2`)

[2016-07-22 14:53] bajtos commented on #317
IMO, we should implement only `strict:true` behaviour right now (no flag involved) and wait until there is a clear need for `strict:false` before implementing that other mode.

[2016-07-22 17:32] gunjpan commented on #317
@jzogg : FYI: the architects agreed on @bajtos's above proposal to **implement only strict:true behaviour right now (no flag involved)** and it'll be reflected in the patch.

[2016-07-25 17:37] richardpringle commented on #320
@BoLaMN can I close this in favor of #324? The description in that issue is a little more detailed. If you would like, you can take the description of this issue and place it as a comment in the other.

If you have any objections, please re-open the issue and mention me in a comment and I will tend to it right away.

[2016-07-25 17:37] #320 closed

[2016-07-26 22:26] gunjpan commented on #317
Patch is landed, hasn't been released to `npmjs` yet. Will udpate when released _(which should be ASAP)_

[2016-07-27 08:09] bajtos commented on #317
Released in `strong-remoting@2.29.0`.

[2016-07-27 08:09] #317 closed

[2016-08-03 09:30] azatoth opened #328 "remotingOptions is forgotten in SharedMethod.prototype.invoke"
When calling `SharedMethod.prototype.invoke()` the supplied `remotingOptions`are forgotten and this prevents fixes like https://github.com/strongloop/loopback/issues/1495 not working when applied to relations (`ModelName/:id/relation`) as the injected `remoteCtx` is forgotten here.
A naïve fix I thought was to just push `remotingOptions` onto `formattedArgs` before the callback, but this sadly bre

[2016-08-09 13:43] deepakrkris commented on #141
@bajtos self-assigned this to me. lets discuss on the next steps

[2016-08-09 13:52] bajtos commented on #141
@deepakrkris I am afraid I don't have enough bandwidth to look into this right now. Considering that all non-REST adapters are way behind the REST adapter in the terms of feature parity, I am proposing to simply remove all non-REST adapters in the `master` branch (the upcoming 3.0 release). Then we can wait for user feedback to see if anybody complains about a missing adapter in 3.0.

I think we c

[2016-08-11 13:50] richardpringle commented on #318
Hey @devInterests sorry about the delayed response.

The `accepts.type` must a [LoopBack type](https://docs.strongloop.com/display/public/LB/LoopBack+types).

I am going to close this issue for now but please feel free to carry on the conversation in here or re-open if you believe this is still an issue.

[2016-08-11 13:56] richardpringle commented on #322
@snowyu, I'm not quite sure if I understand what you are trying to accomplish here.

`null` and `undefined` are both falsey values in JavaScript and thus should be coerced to `false`.

[2016-08-11 14:32] richardpringle commented on #324
Hey @horiaradu, what version of `loopback`, `strong-remoting`, and `loopback-datasource-juggler` are you using?

I just tried to reproduce the issue and it was working as expected. Either that, or I don't entirely understand the issue. You're saying that when you use an empty array, it returns all the results instead of none?

[2016-08-11 15:26] BoLaMN commented on #324
The issue I posted is still relevant in how querystring handles arrays throwing object ids on top just makes the whole scenario worse.

I was getting 413 errors due to the querystring being to large for nginx to process, check my referenced issue to find an example in tonicdev you can play with.

In the mean time I too have forked and introduced a similar patch.

cheers

[2016-08-11 16:28] horiaradu commented on #324
@richardpringle

```loopback```: 2.29.1
```strong-remoting```: 2.28.1
```loopback-datasource-juggler```: 2.47.0

More detailed scenario:

There is a model ```Car``` who is backed by a MySQL DB (classic model). This has a ```belongsTo``` relationship to another model: ```Owner```. The ```Owner``` is backed by a remote datasource (via ```strong-remoting```) which points to a second ```loopback``` AP

[2016-08-11 17:35] richardpringle commented on #324
Sorry @horiaradu, I didn't quite understand what you were describing right away. I still can't reproduce the issue with strong-remoting alone (I'm on 2.29.0, no sure if that makes a difference).

I get an empty array when I try to hit the following:
`http://localhost:3010/api/model?filter={"where": {"id": {"inq": []}}}`

I do however see that when you pass `{where: {id: {inq: []}}}` into `qs.strin

[2016-08-11 19:20] horiaradu commented on #324
@richardpringle

I have updated my PR so that the tests pass (forgot a line...).

[2016-08-12 07:33] snowyu commented on #322
Ok, eg, the `isInherited` is an optional boolean argument.
The remote method need know the `isInherited` value whether the client be set or not.
But this force the value always is false.

* undefined: use the default value in the database.
* true: force to true.
* false: force to false.

[2016-08-15 15:17] gemabarni opened #335 "Cannot disable PATCH /Model/{id} method"
I was trying to disable all remote methods for my model except a few ones, but I found no way to disable **PATCH /Model/{id}** method. Theoretically it should be disabled by calling `Model.sharedClass.disableMethodByName('patchAttributes')`, but it still remains in the explorer. However when trying to invoke it, it returns with code 500 - `"remoting.context option was removed in version 3.0. See h

[2016-08-15 17:10] #308 closed

[2016-08-15 19:35] richardpringle commented on #322
A boolean is either `true` or ` false`.  A value of type "boolean" should never be null or undefined.

[2016-08-16 11:44] devInterests commented on #318
Hello,

@richardpringle I was aware of the list.
It seems I misunderstood the answer: [Uploading images](https://groups.google.com/forum/#!topic/loopbackjs/-7xumo0V8qg)

It sounds to me like the File-Type is supported.

[2016-08-16 14:59] richardpringle commented on #318
@devInterests, the idea is that type "File" will eventually be supported.

Does your `fileUpload` method work at all? If not, I suggest either using [loopback-component-storage](https://github.com/strongloop/loopback-component-storage), or go take a look at the code so you can implement your own.

The `storage-service` code is where you'll find the remote method and its metadata. The `upload` meth

[2016-08-16 15:24] devInterests commented on #318
@richardpringle thanks.
My file upload works just fine, when I am using `object` as a Argument-Type.
The problem here is that the Swagger-UI treats it as a object.

When I am using `File` as a Argument-Type, Swagger-UI treats it as a file upload.
It is showing Browser-Button to select a File, and a Upload-Button.
But then loopback get the error.

I would like to have the right definition with the

[2016-08-16 15:38] richardpringle commented on #318
Interesting,

I am going to re-open this issue as a feature request then.

Would you be interested in submitting a PR to add support of type File?

[2016-08-17 09:51] jamesjjk opened #337 "v2.3 install fails due to globalize bug"
The build of this library fails due to a dependency on strong-globalize. https://github.com/strongloop/strong-globalize/issues/73 This is a pretty serious issue for those working with container style environments such as docker. loopback and loopback-datasource-juggler are also effected.

[2016-08-17 12:59] jamesjjk commented on #337
Related to docker 1.9.1 error

[2016-08-17 12:59] #337 closed

[2016-08-17 14:02] richardpringle commented on #318
@devInterests, what version of strong-remoting do you have? I just came across this issue that should support type File: https://github.com/strongloop/loopback/issues/2063#issuecomment-189204577

[2016-08-22 16:17] #319 closed

[2016-08-22 22:12] superkhau opened #340 "Regex support for remote hooks declarations"
As an end user, I would like to use regular expressions to match multiple remote methods.

For example:

[code]

The current workaround is to use `ctx.method.name` to check if the remote method needs triggering:

[code]

[2016-08-22 22:16] superkhau commented on #340
@bajtos This is probably just be a one off case for a customer request and I believe the workaround should be good enough for now. Feel free to plan accordingly as you see fit as this is probably a good feature to have in general.

[2016-08-23 13:07] bajtos commented on #328
@azatoth could you please provide us with an example code to reproduce the problem? Either a full sandbox per [wiki](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report), or even better a failing unit-test in strong-remoting.

[2016-08-23 13:36] bajtos commented on #328
Testcase from @azatoth : https://github.com/strongloop/strong-remoting/pull/341

[2016-08-25 15:30] richardpringle opened #342 "Empty request body coerces to an empty object."
[code]
Creates a new Author record even though the request body is empty. It should at least require an empty object.

[2016-08-25 16:45] richardpringle commented on #342
@bajtos, is this is expected behavior, please just close this issue

[2016-08-26 14:40] bajtos commented on #342
To be honest, I don't know what's the expected behavior here. AFAICT, no real user complained about this so far, in which case I think it does not matter how we treat requests like these.

[2016-08-26 19:37] richardpringle commented on #335
@gemabarni  you should be able to do the following:
[code]

You can do this in the `boot(...)` function callback or in a boot script. Let me know how that goes.

I did find however that  I was unable to disable `upsert`....

[2016-08-29 14:47] #335 closed

[2016-08-29 16:17] #342 closed

[2016-09-05 13:07] gemabarni commented on #335
Thanks for the idea, finally I managed to get rid of all methods of my extended user using the following boot script:
[code]

However I tried to delete the lines one by one and I found that `  ExtendedUser.disableRemoteMethod('upsert', true);` had no effect. After deleting that line the explorer remained empty. Could you explain which method should it represent?

Another thing that I noticed is a

[2016-09-06 12:29] bajtos commented on #328
@azatoth I am confused. In your example, your remote method has two "returns" arguments - some sort of data and `opts`, but none of them are described in remoting metadata. `SharedMethod.prototype.invoke` converts callback ("return") arguments into a single `results` object.

Also note that `remotingOptions` are coming from `server/config.json > remoting`, they are not per-request.

I don't see ho

[2016-09-09 08:37] bajtos commented on #312
Done and released.

[2016-09-09 08:37] #312 closed

[2016-09-12 12:03] bajtos commented on #143
The issue is fixed in the upcoming 3.0 release.

- When the argument's type is `any`, strong-remoting will treat integer numbers starting with `0` as string, e.g. `0668` will preserve the leading zero. However, floats are still converted to numbers, e.g. both `0.42` and `00.42` are converted to a number.

- When the argument's type is `number` or `integer`, strong-remoting will treat integer numbe

[2016-09-12 20:14] richardpringle commented on #335
@gemabarni, that would be great if you could open the issue about `disableRemoteMethod` in the LoopBack repo!

Also, `'replaceOrCreate'` was an alias for `'upsert'` in LoopBack 2.x but in 3.x the name has been replaced by the alias, so you can get rid of it in your boot script.

[2016-09-13 00:40] james-relyea commented on #326
I think this was fixed by 6aaafd054c48677180945e19e459246ba3027156

[2016-09-13 08:01] bajtos commented on #143
Actually it looks like this issue was already fixed in 2.13.0 by #168.

[2016-09-13 08:25] bajtos commented on #208
Most of the items were already done in #343.

This was not needed in the new implementation.

[2016-09-13 08:25] #208 closed

[2016-09-13 08:27] bajtos commented on #223
Closing as fixed.

[2016-09-13 08:27] #223 closed

[2016-09-13 08:43] bajtos commented on #263
This should be fixed by https://github.com/strongloop/strong-remoting/pull/343 in the latest 3.0-alpha.

[2016-09-13 08:43] #263 closed

[2016-09-13 08:49] bajtos commented on #299
This issue was fixed by https://github.com/strongloop/strong-remoting/pull/343 in LoopBack 3.0 (alpha). Model properties of "any" type sent in JSON request body are no longer converted from string to number. When the "any"-typed value comes from a string-only source like query-string, we convert to numbers only values that are "safe" to convert, meaning they we won't loose information as a result

[2016-09-13 08:49] #299 closed

[2016-09-13 09:07] bajtos commented on #254
Closing in favour of the solution described in https://github.com/strongloop/loopback/issues/1806#issuecomment-217393388, which has been already implemented and published.

[2016-09-13 09:07] #254 closed

[2016-09-13 16:43] vkarpov15 commented on #299
Don't rush to release on our account, we've been loopback-free for a few months now and it's been a dream come true :)

[2016-09-13 18:08] richardpringle commented on #326
Thanks @james-relyea

[2016-09-13 18:09] #326 closed

[2016-09-14 09:23] #267 closed

[2016-09-14 14:31] bajtos commented on #299
That's sad news. If I may ask you, what tool/framework/approach are you using now?

[2016-09-16 17:42] richardpringle commented on #238
@bajtos can this be closed now since #349 was landed?

[2016-09-19 11:13] bajtos commented on #238
Yes, I am closing this issue as fixed (in LoopBack 3.0).

[2016-09-19 11:13] #238 closed

[2016-09-23 21:18] davidcheung opened #360 "Allow both object and array values for an argument (create/createMany)"
continuing the conversation for this comment https://github.com/strongloop/strong-remoting/pull/347#issuecomment-246680808

Since #347, strong-remoting rejects array values for arguments of type object. As a result, it's no longer possible to send an array of objects via `POST /api/my-model-/create` and expect the server to create them all in a batch mode.

### Background

with https://github.com/

[2016-09-26 13:40] bajtos commented on #360
Since #347, strong-remoting rejects array values for arguments of type object. As a result, it's no longer possible to send an array of objects via LoopBack's built-in `POST /api/my-model-/create` and expect the server to create them all in a batch mode.

I think the discussion in #347 reached an agreement that a union type ("object" or "array") is better than "allowArrays" flag.

In that light, I

[2016-09-26 16:03] richardpringle commented on #360
Type JSON!

There should be a type that accepts any valid JSON which is pretty much the same as saying "array or object"!

I do not thing that more endpoints is the answer, especially just to deal with strong-remoting types... the function is the exact same yet we have two endpoints because we have to allow two different input types.

I think that the default Persisted model REST API should be sim

[2016-09-26 17:27] richardpringle commented on #360
... on second though, I guess `any` is the same thing

[2016-09-26 17:29] STRML commented on #360
Union types are great, but that also could make coercion pretty difficult - needs to be separation of type validation and coercion, which I believe there now is in the latest remoting beta.

In that vein, I can't recommend https://github.com/gcanti/tcomb more for type validation - we've been using it for some internals and it really can express just about anything.

[2016-09-26 17:39] Amir-61 commented on #360
IMO option 1 would be the ideal solution but using `union` ("object", "array"); however, I'm not very familiar with Swagger and cannot comment on that issue unfortunately. I would preferably avoid introducing a new input like `POST / createMany`.

[2016-09-29 08:50] bajtos commented on #360
Yes, `any` accepts any value that can be encoded in JSON. Not only arrays and objects, but also numbers and strings.

Swagger is using a subset of JSON Schema Validations. Unfortunately the keyword [`oneOf`](http://json-schema.org/latest/json-schema-validation.html#anchor88) (one of "array", "object") is not supported by Swagger/OpenAPISpec (yet), see https://github.com/OAI/OpenAPI-Specification/i

[2016-09-30 10:00] wangpengfei15975 commented on #118
thx

[2016-10-04 20:17] gunjpan opened #365 "Support for geopoint type"
As noted in `strong-remoting@3.x` [release notes](https://github.com/strongloop/strong-remoting/releases/tag/v3.0.0),

Thus,  `GeoPoint` datatype input in following `query` is treated as `string`:
`http://localhost:3010/api/gps/testGeoPoint?geopoint[lat]=23&geopoint[lng]=25`

  where as, following query works fine, (unusual:
`http://localhost:3010/api/gps/testGeoPoint?geopoint={"lat": 23, "lng":25

[2016-10-05 08:42] bajtos commented on #365
@gunjpan could you please point me to the remoting metadata of your `gps/testGeoPoint` method?

`http://localhost:3010/api/gps/testGeoPoint?geopoint[lat]=23&geopoint[lng]=25`

LoopBack's GeoPoint type is automatically coercing string values to numbers in its constructor, see [lib/geo.js](https://github.com/strongloop/loopback-datasource-juggler/blob/99a864e9c6ef4907ed32425ef1f196d2677d17a8/lib/geo

[2016-10-05 13:02] gunjpan commented on #365
@bajtos :

the method is same as defined [here](https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBackTests/server/index.js#L84-L93)

IMO, `http://localhost:3010/api/gps/testGeoPoint?geopoint[lat]=23&geopoint[lng]=25` is a more general way of querying.

[2016-10-05 13:08] bajtos commented on #365
the method is same as defined here

[code]

Thanks. Since `GeoPoint` is a valid LoopBack type, I think it's reasonable to expect that it can be used in remoting metadata too. Which means we should implement the change I proposed in my last comment.

Both options are valid. The JSON encoding makes it easier to explicitly provide type information for deeply nested values.

[2016-10-06 15:23] richardpringle commented on #322
@snowyu, strong-remoting type coercion has been overhauled. I don't believe that this is still an issue. I'm going to close now but if you still believe that the bug is there, please feel free to re-open and leave a comment.

[2016-10-06 15:23] #322 closed

[2016-10-07 00:31] snowyu commented on #322
Yes, I am sure it is a bug here. This is about the beautiful API design. NOT strict language design.

Without this, you haveto split one API method to TWO.  Why do not u think this is a js or sql bug too?

[2016-10-07 15:18] richardpringle commented on #322
@snowyu, have you seen the new code https://github.com/strongloop/strong-remoting/blob/master/lib/types/boolean.js?

[2016-10-08 01:00] snowyu commented on #322
Ok , I've seen the `undefined` value supported. in the new code

[2016-10-13 12:55] bajtos commented on #318
Closing as a duplicate of https://github.com/strongloop/loopback/issues/2554

[2016-10-14 14:22] bajtos commented on #318
Ooops, this is not a duplicate of strongloop/loopback#2554, reopening.

@devInterests if I understand your comments correctly, then you would like strong-remoting to support `{arg: 'file', type: 'file', http: { source: 'body' }, required: true}`, is that correct?

[2016-10-18 15:09] fabien opened #373 "Minor formatting issue of Error message"
https://github.com/strongloop/strong-remoting/blob/14a03ccfd9a9b4210d3e68e9a87ed76e07948b6e/lib/rest-adapter.js#L329

[code]

There are two spaces after `{{Shared class}}`.

[2016-10-19 15:59] #360 closed

[2016-10-20 20:30] davidcheung opened #376 "convert `array-like-objects` to `array`"
**what**
on the roadmap of qs, they have the plans of changing default arrayLimit to 0, which is what express uses to build the query object

**what it will mean for us**
meaning queries in `filter[where][or][0][id]=1` format will be converted to objects instead of array,  currently qs(default settings) converts array-like-objects under 20 items into arrays (which becomes very hard to troubleshoot

[2016-10-24 11:34] doublemarked commented on #376
I agree that it seems more appropriate to deal with this in strong-remoting than in DataAccessObject._coerce.

[2016-10-31 12:59] #324 closed

[2016-11-03 15:46] gunjpan commented on #324
Landed.

[2016-11-24 19:56] gunjpan commented on #365
Landed #383.

[2016-11-28 17:05] #365 closed

[2016-11-29 10:45] Overdrivr opened #387 "Validate nested properties of object arguments"
[Does validation works on nested `args` objects](http://stackoverflow.com/questions/40803541/loopback-remote-method-parameter-validation) ?

With a remote method configured like this for instance

[code]

If not maybe it should be mentioned in the [docs](https://loopback.io/doc/en/lb2/Remote-methods.html#http-mapping-of-input-arguments)

[2016-11-30 00:13] Johnyjsrs opened #388 "Remote method does not work if arg value is called `data`"
default value is not get in for this example:
[code]

[2016-12-21 23:45] crandmck opened #393 "Add deprecation notices to SharedClass.prototype.find and SharedClass.prototype.disableMethod API docs"
The [release notes](http://loopback.io/doc/en/lb3/3.0-Release-Notes.html#clean-up-of-api-for-finding-and-disabling-remote-methods) say:

Deprecation should be noted in the doc comments so it's in API docs:

- http://apidocs.strongloop.com/strong-remoting/#sharedclass-prototype-find
- http://apidocs.strongloop.com/strong-remoting/#sharedclass-prototype-disablemethod

[2017-01-10 15:08] request-eduardo commented on #387
Looking forward for this answer too

[2017-01-19 14:41] bajtos commented on #388
@Johnyjsrs Could you please provide is with a runnable code we can use to reproduce the problem on our machines? For example a failing unit-test for strong-remoting, or a simple LoopBack app per our [bug  reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)

[2017-01-19 14:45] bajtos commented on #387
Hi, I am afraid strong-remoting does not validate properties of object types right now.

[2017-01-19 14:49] bajtos commented on #280
I am afraid the socket.io adapter won't be a priority for us in the foreseeable future.

[2017-01-19 14:49] #280 closed

[2017-01-19 15:00] bajtos commented on #250
I think we can safely close this one, as it hasn't been a priority in the last 14+ months and there was also nobody else asking for this feature.

[2017-01-19 15:00] #250 closed

[2017-01-19 15:03] bajtos commented on #286
@jbcpollak is this issue still relevant? Could you please provide us with a full code sample that we can run on our machine, e.g. using loopback-sandbox per our [bug-reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2017-01-19 15:05] bajtos commented on #307
+1

I am proposing to add a connector/datasource-level configuration to configure the timeout to use in the outgoing calls. @jbcpollak would you like to contribute this feature yourself? I am happy to guide you along the way.

[2017-01-19 15:10] bajtos commented on #328
I am closing this issue as we don't have enough information to reproduce it. @azatoth feel free to reopen it if/when you can provide us with complete steps to reproduce the problem.

[2017-01-19 15:10] #328 closed

[2017-01-19 15:12] bajtos commented on #300
I am closing this issue for now, I think we will need to revisit the fast-router-related tasks once we resume the work.

[2017-01-19 15:12] #300 closed

[2017-01-19 15:25] Tallyb commented on #299
If anyone faces the same issue - here is a boot script that fixes the problem for all methods:
[code]

[2017-01-23 15:54] STRML opened #396 "Sending multiple `_format` values crashes"
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When sending a request like `GET /api/v1/foo?_format=xml&_format=json` crashes due to [this line](https://github.com/strongloop/strong-remoting/blob/14a03ccfd9a9b4210d3e68e9a87ed76e07948b6e/lib/http-context.js#L554) which assumes that `_format` is a string. It could be an array.

[2017-01-28 15:59] barocsi opened #397 "TypeError: Cannot read property 'http' of undefined at HttpContext.buildArgs\node_modules\strong-remoting\lib\http-context.js:120:23)"
When testing with Explorer, some remote method gives this error,

curl -X GET --header 'Accept: application/json' 'http://localhost:3000/api/posts/feed?access_token=test_token1'

[code]
seems like accepts is empty and the whole thing messes up
[code]

interestingly other methods for this and other model includes the http object
[code]

[2017-01-28 16:30] barocsi commented on #397
Misconfigured remote method json.

[2017-01-28 16:30] #397 closed

[2017-02-04 00:04] ritch commented on #141
Lets close this. I don't think we'll ever get to it.

[2017-02-04 00:04] #141 closed

[2017-03-09 12:54] bajtos commented on #318
Closing as a duplicate of https://github.com/strongloop/loopback/issues/3266

[2017-03-09 12:54] #318 closed

[2017-04-12 18:49] richardpringle commented on #307
@bajtos, still looking for a patch here? If so could use some guidance on how to test.

[2017-04-18 14:20] bajtos commented on #307
@richardpringle sure. Here are existing tests where you can start looking:
 - [test/http-invocation.test.js](https://github.com/strongloop/strong-remoting/blob/24dbcc75669ddce9d4d0aabce94563fdc7882ce6/test/http-invocation.test.js)
 - [test/rest.browser.test.js](https://github.com/strongloop/strong-remoting/blob/24dbcc75669ddce9d4d0aabce94563fdc7882ce6/test/rest.browser.test.js) (don't get confused

[2017-04-25 13:59] pierissimo commented on #215
I've done an initial implementation [here](https://github.com/strongloop/strong-remoting/pull/405).
A few parts are not/partially implemented.
Please review it and let me know how it can be improved.

[2017-05-04 00:05] nidhhoggr opened #406 "Async library failing under high load"
When the server is under high load the following error is produced:
[code]
This is a result of the `next` method being called. I checked my model and I am very careful about not calling the method twice, and If I was indeed calling it twice, it would be happening on all requests, not only when the server is stressed out. The issue consistently happens when there is about a load of 1500 concurrent

[2017-05-17 04:26] kimkha opened #407 "Returns fail with SharedMethod"
Look at this function [SharedMethod.toResult](https://github.com/strongloop/strong-remoting/blob/master/lib/shared-method.js#L473). It fail if we want it return many infos.

For example:

[code]

[code]

Then, after `returns = returns.filter(...)`, the "data" was removed. And after that, line `returns.forEach(...)` did not include the "data", just only one element "X-Total-Count".

So, when it fet

[2017-06-07 11:48] bajtos commented on #396
Thank you for reporting the problem. Would you like to contribute the fix yourself?

What is your expected solution: Should we reject requests with `_format` that's not a string? Should we pick the first `_format` item that is supported by the server, like we are doing with `Accepts` header? Something else?

[2017-06-07 11:50] bajtos commented on #406
@nidhhoggr thank you for reporting the error. How can we reproduce it on our side? Could you please provide a small application reproducing the problem per our [Bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2017-06-07 11:52] bajtos commented on #407
@kimkha thank you for reporting the problem. Could you please provide us with full steps for reproducing it? For example, a failing unit-test that can be added to strong-remoting's test suite, or a small application per our [Bug reporting instructions](http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2017-06-07 11:54] bajtos commented on #286
I am closing this issue since it's not reproducible. Feel free to reopen if you can provide us with instructions for reproducing it per my comment above.

[2017-06-07 11:54] #286 closed

[2017-06-07 12:13] jbcpollak commented on #286
Thanks @bajtos, I think that's fine. I haven't had a chance to test the merged error handling code but I am guessing it covers the problem.

[2017-06-09 21:49] #396 closed

[2017-06-28 05:12] BerkeleyTrue commented on #406
We are also seeing this issue on a brand new server with no load. It is reproducable when creating a new user through the POST /api/user

loopback - 2.38.3
strong-remoting - 2.33.0

![hyper](https://user-images.githubusercontent.com/6775919/27621432-8f7b74fc-5b85-11e7-929d-7829a96ea0de.png)

[2017-06-28 07:37] fabien commented on #406
@BerkeleyTrue I see you're using Loopback 2.27.0 now - does this mean this version is unaffected?

I've yet to see this error, but is there any chance it's actually the result of an (app) error not being handled correctly inside Strong Remoting?

[2017-06-28 15:56] BerkeleyTrue commented on #406
@fabien With 2.27 I can no longer reproduce the error.

I'm not sure what would be the cause of the error. We are currently running 2.27 in production under heavy load without issue.

[2017-07-06 20:53] BerkeleyTrue commented on #406
I believe the issue stems from this commit: https://github.com/strongloop/strong-remoting/commit/eb2a08c90cb1bc33d37a236c4e95dd71ee113e07

The previous behavior for remoteMethod hooks to meant that a promise would resolve and prevent the next hooks from running.

In our case, our code was written long before promise support was making it's way into LB. We have a rule that all function paths must e

[2017-07-10 14:42] bajtos commented on #406
@BerkeleyTrue thank you for finding the root cause of the problem! I am able to reproduce it with the following beforeRemote hook:

[code]

That sounds like a good idea to me. Would you like to contribute this improvement yourself?

[2017-07-19 13:43] bajtos commented on #215
Closing in favour of a community-maintained Primus component: https://github.com/Oneflow/loopback-component-primus

Thank you @pierissimo for making this happen! ❤️

[2017-07-19 13:43] #215 closed

[2017-07-19 13:50] pierissimo commented on #215
@bajtos thank you for your help!

[2017-07-20 08:55] Cyperwu commented on #360
I tried to add `allowArray` flag in my own defined remote method and it didn't work. Is there any other way to add this in my remote method?

[2017-07-20 16:58] bajtos commented on #360
@Cyperwu please open a new issue and provide us with an example showing what you are trying to do, ideally a small app reproducing the problem - see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report.

[2017-07-26 14:00] bajtos opened #412 "Add Node.js 8.x to Travis CI"

[2017-07-27 07:34] #412 closed

[2017-08-01 07:38] mitsos1os commented on #407
The reported issue is valid. The problem is that when the remote method returns a Promise, the return arguments specified in the remote method that have a `http.target` option set to `status` or `header` are not processed correctly. This is not happening when the remote method uses the callback provided

The reason this is hapenning is that when promise mode is used the context is not passed as ar

[2017-08-01 08:31] bajtos commented on #407
Thank you @mitsos1os for investigating the issue and finding the place where to fix it.

Would you like to contribute the fix yourself and submit a pull request?

[2017-08-01 08:37] mitsos1os commented on #407
Yes I will thank you

[2017-08-02 12:47] #407 closed

[2017-08-09 14:14] henkosch opened #416 "Unhandled Promise rejection when using ctx.res.send() in async afterRemote hook"
# Description/Steps to reproduce

Look at the following example model:

[code]

I wanted to generate a plain text response for an endpoint. I could not find any other solution than to use an afterRemote hook to change the response. So I used ctx.res.send() to set the response explicitly inside the hook.

I'm using ES6 async functions everywhere where loopback supports it. These functions return pr

[2017-08-09 14:18] henkosch commented on #416
I just found that this is related to: #406

[2017-09-13 08:13] bajtos commented on #416
Hello @henkosch, thank you for reporting the issue and sorry for the silence. Have you tried to use callback-style function for your afterRemote hook and do not call `next`?

[code]

This is how Express middleware works - if the response was sent, then `next` is not called.

I do realise my proposal is hacky, it also means that no other afterRemote hooks registered for this method will be called a

[2017-09-13 08:16] bajtos commented on #416
I think you should be able to use `file` type for this feature, see #284:

The pull request description contains an example showing how to set `Content-Type` header from such remote method.

[2017-09-16 02:51] bitmage opened #422 "Implementing async 'after' hook"
[Yet another case](https://github.com/strongloop/loopback/issues/2076) of trying to implement caching.  :-)

Caching has been mostly working and pretty stable for the last few months, with a solution like this:

[code]

I now want to get the `id` and `timestamp` that auto-generated for the cached object.  So I'd like to do something like this:

[code]

However, overriding `res.send` with anything

[2017-09-21 21:26] bitmage commented on #422
I worked around this by not using loopback middleware at all, and instead implementing caching as a function wrapper.

Closing.

[2017-09-21 21:26] #422 closed

[2017-10-25 16:23] paulomcnally opened #432 "On try create a user on loopback with heroku"
[code]

[2017-12-19 15:11] smartmouse opened #436 "can we update dependencies of sse@0.0.6 to 0.0.7?"
# Description/Steps to reproduce

sse@0.0.6 depends on options@latest
This is not good for production.
sse@0.0.7 recently updated to fix the dependency to options@0.0.6 instead of latest

Also we ran into an issue of resolving @latest in the build between different npm versions.
**npm 5.x**

dc60server:apiconnect smartmouse$ npm ls options@latest
[code]

dc60server:apiconnect smartmouse$ npm ls op

[2018-02-01 03:32] alert83 opened #440 "typo: HttpContext.prototype.resolveReponseOperation"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-02-01 06:06] raymondfeng commented on #440
@alert83 Thank you for reporting it. Would you like to submit a pull request?

[2018-02-01 06:28] alert83 commented on #440
you are welcome. I do not have experience in submiting a pull request

[2018-04-09 12:15] mrbatista opened #443 "Check for exists/not exists property return error"
# Description/Steps to reproduce
After download app sandbox: `npm install && npm test`

# Link to reproduction sandbox
https://github.com/mrbatista/loopback-sandbox/tree/bug/coerce-date-filter-exists

# Expected result
When check for property defined as type Date the response is `Error: Invalid date: [object Object]`.
The workaround at the moment is to declare property with type `any` (it's actual

[2018-04-30 05:28] thatbeardo commented on #335
I am facing the same issue right now. I want to disable the PATCH endpoint. It seems that it can only be disabled by using
`MyModel.disableRemoteMethod('updateAttributes');`
Using the function `disableRemoteMethod` gives me a deprecated warning.
@gemabarni, did you post an issue about this? Or did you find a way to solve this problem

[2018-05-24 09:32] mightytyphoon commented on #335
Hi, if you are still struggling with this, I put some times understanding the code (because I don't like warning even if `disableRemoteMethod()` works)

So here is the solution :

`Model.disableRemoteMethodByName('prototype.updateAttributes')`

This is because `updateAttributes()` is bounded to `Model.prototype.updateAttributes` and not to `Model.updateAttributes` and `disableRemoteMethodByName` w

[2018-06-16 02:41] murphylan commented on #335
const remoteMethodNames = ['findById', 'findOne', 'confirm', 'count', 'exists', 'create', 'upsert',
		        'deleteById', 'updateAll', 'prototype.updateAttributes', 'createChangeStream', 'replaceById', 'replaceOrCreate', 'upsertWithWhere'];

		    remoteMethodNames.forEach(function (value) {
		        Model.disableRemoteMethodByName(value);
		    });

[2018-09-06 07:35] snarjuna opened #453 "Implement deleteType to support delete model in loopback 2.x"
# Description/Steps to reproduce
typeRegistry which was introduced in loopback 3.x had deleteType functionality. However, we don't have same functionality in loopback 2.x, so not able to delete types in 2.x.

This deleteType will support delete model in loopback 2.x

[2018-09-15 04:47] jdhrivas commented on #443
@mitsos1os make sure you set "allowExtendedOperators": true in your mongo datasource.json file.

[2018-10-02 06:34] gijo-varghese commented on #416
@bajtos any fix for this?

[2018-10-08 23:05] dhmlau commented on #276
Closing as resolved

[2018-10-08 23:05] #276 closed

[2018-10-09 11:34] bajtos commented on #416
@gijo-varghese  A fix for what exactly?

[2018-10-09 11:37] gijo-varghese commented on #416
@bajtos I need to use async like this:
[code]

instead of
[code]

[2018-10-09 12:47] bajtos commented on #416
@gijo-varghese I see. I am afraid it's not possible to use `async` (or Promise-based) functions for remote hooks if you want to circumvent the default request processing.

Here are few things you can try:

Wrap your async function in callback-based hook handler.

[code]

Inside your async hook handler, change `ctx.result` to undefined. IIRC, strong-remoting is not going to send any response in suc

[2018-10-09 12:49] bajtos commented on #416
Let me fix my first example above.

[code]

[2018-10-10 11:03] gijo-varghese commented on #416
ok. Thanks. Let me try

[2018-10-11 14:12] bajtos commented on #298
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:12] #298 closed

[2018-10-11 14:29] bajtos commented on #406
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:29] #406 closed

[2018-10-11 14:29] bajtos commented on #376
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:29] #376 closed

[2018-10-11 14:30] bajtos commented on #340
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:30] #340 closed

[2018-10-11 14:30] bajtos commented on #307
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:30] #307 closed

[2018-10-11 14:30] bajtos commented on #246
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:30] #246 closed

[2018-10-11 14:30] bajtos commented on #387
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:30] #387 closed

[2018-10-12 08:11] bajtos commented on #440
@alert83 what a great learning opportunity! Here is a detailed step-by-step guide teaching how to send the first pull request: https://www.nearform.com/blog/getting-into-open-source-for-the-first-time

[2018-10-12 08:14] bajtos commented on #443
@mrbatista sorry for the long silence on our side.

AFAIK, strong-remoting 3.x no longer coerces deep properties. Could you please post a full stack trace of the error you are encountering and provide us steps how to reproduce the problem using your sandbox app?

[2018-10-12 08:15] bajtos commented on #453
Closing as done via #454

[2018-10-12 08:15] #453 closed

[2018-10-12 08:16] bajtos commented on #436
@smartmouse is this still relevant? Would you mind to contribute this upgrade yourself and open a pull request?

[2018-10-12 08:17] bajtos commented on #432
@paulomcnally thank you for reporting the issue. How can we reproduce it? Could you please create a small app per our Bug reporting instructions described [here](https://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)?

[2018-10-12 08:17] bajtos commented on #388
Closing the issue as abandoned.

[2018-10-12 08:17] #388 closed

[2018-10-12 08:18] bajtos commented on #313
I don't think this is going to happen, considering that LoopBack 4.0 GA has been released and the REST layer was rewritten completely.

[2018-10-12 08:18] #313 closed

[2018-10-12 08:18] bajtos commented on #244
Closing as no longer relevant.

[2018-10-12 08:18] #244 closed

[2018-10-12 08:38] mrbatista commented on #443
@bajtos find the link and step to reproduce problem on my first post. 😕

[2018-10-15 12:31] mrbatista commented on #443
@bajtos yes!

[2018-10-19 13:58] bajtos commented on #443
Sorry for the delay, I'll try to find some time next week to look into this issue.

[2018-10-25 03:05] dhmlau commented on #373
Closing as PR #455 has landed.

[2018-10-25 03:05] #373 closed

[2018-11-26 19:30] SippieCup opened #457 "Lock event-stream dependency to 3.3.4"
Fixes vulnerability highlighted in https://github.com/dominictarr/event-stream/issues/116

[2018-12-03 12:59] bajtos commented on #443
@mrbatista I debugged your example app and this is what I found:

1. `exists` is not a built-in operator, it's MongoDB specific.

2. To use a database-specific operator, you need to prefix it with `$`, e.g. `$exists`.

[code]

3. By default, database-specific operators are not allowed. You need to enable this feature via model settings (on a per-model basis) or datasource settings (for all models

[2018-12-03 12:59] #443 closed

[2018-12-05 04:05] dhmlau commented on #457
Fixed in #458 and #459.

[2018-12-05 04:05] #457 closed

[2018-12-10 09:07] #416 closed

[2018-12-10 09:07] #432 closed

[2018-12-25 16:47] killmenot opened #460 "Wrong prop is used for pipe source?"
Hi, I think switch statement should use `pipeSrc` not `pipeDest`, isn't it?

https://github.com/strongloop/strong-remoting/blob/f6ef3aedce857709e89efb35800465bd34481d40/lib/http-context.js#L285-L289

[2019-01-17 08:30] guneraykut opened #461 "XML Validation Error"
I want to accept and save XML data through the model REST api. When I select "Parameter content type" and "Response Content Type" "application/xml" or "text/xml", I got following validation error.

[code]
And my post data is

[code]
It works when selecting Parameter content type" and "Response Content Type" as JSON.

I set remoting.rest.xml to true under config.json file. Responses are okay with X

[2019-01-17 09:31] guneraykut commented on #224
@richardpringle how about parsing xml data through the built-in remote method. I asked this at https://github.com/strongloop/strong-remoting/issues/461

[2019-02-03 18:57] richardpringle commented on #224
Sorry @guneraykut, I'm no longer a maintainer of this project, hopefully someone responds on your issue soon though!

[2019-02-13 12:38] pure180 opened #462 "Possibly wrong @property definitions in documentation?"
Currently I'm writing some type definitions for this plugin and I found out that there are some wrong declared Prams, please correct me if I'm wrong.

https://github.com/strongloop/strong-remoting/blob/33fbd72fb46035f707c3c62dce6b36ab075fb61e/lib/shared-method.js#L40 should be Object?

https://github.com/strongloop/strong-remoting/blob/33fbd72fb46035f707c3c62dce6b36ab075fb61e/lib/shared-method.js#

[2019-04-10 06:43] steirico opened #463 "2.x release with locked event-stream"
Is there a chance to see a 2.x release of acf404a8fe8484cd5a9c24365c50237b80fa6fdf which fixes / includes #458 and #459?

[2019-04-10 14:38] dhmlau commented on #463
@steirico, just released `2.36.1`.  Thanks for the reminder.

[2019-04-12 10:01] steirico commented on #463
Thanks!

[2019-04-12 10:01] #463 closed

[2019-04-17 11:32] tylkomat opened #464 "Rest Adaper addRoute method does not forward route.http which removes the ability to specify a custom status"
# Description/Steps to reproduce

Create a model with custom method:
[code]

# Link to reproduction sandbox

https://github.com/tylkomat/loopback-lost-status
# Expected result
Api explorer and swagger.json should show the configured status code 201, but they show 204 which is the default value when no response is configured.

# Additional information
The [addRoute](https://github.com/strongloop/st

[2019-08-02 02:48] dhmlau commented on #393
Closing due to inactivity.

[2019-08-02 02:48] #393 closed

[2019-10-08 06:19] bajtos commented on #464
Thank you @tylkomat for reporting the issue. Would you like to contribute the fix?

[2019-10-08 06:20] bajtos commented on #462
@pure180 thank you for opening this issue, I think your analysis is correct. Would you like to open a pull request to improve our documentation?

[2019-10-08 06:22] bajtos commented on #436
We are using `sse@0.0.8` now.

[2019-10-08 06:22] #436 closed

[2019-10-08 06:29] bajtos commented on #461
I am afraid we support XML in responses only, LoopBack/strong-remoting is not able to parse XML bodies.

I think your solution of adding `express-xml-bodyparser` _should_ work, unfortunately we don't have bandwidth to investigate this ourselves. If you happen to find the source of the problem and can open a pull request to fix it, then I am happy to help you to get the changes landed.

[2019-10-08 06:30] bajtos commented on #460
Makes sense.

Would you like to contribute the fix yourself? Just make sure to include a test to verify the change.

[2019-10-08 09:10] tylkomat commented on #464
@bajtos sure

[2019-10-15 08:57] #464 closed

[2019-11-01 07:56] #462 closed

[2019-11-28 17:42] limitlis opened #479 "sharedMethod and accessScopes"
Hello 👋

Been struggling through this issue i'm having and I think i've narrowed it (partially perhaps) to `/lib/shared-method.js`.

Loopback proper specifically looks at `this.sharedMethod.accessScopes` [when checking permissions](https://github.com/strongloop/loopback/blob/master/lib/access-context.js#L207). But if you look here: https://github.com/strongloop/strong-remoting/blob/master/lib/shar

[2019-12-03 11:25] wilywork opened #480 "Array of String with numeric value is convert to integer"
i have this problem..
when send to server a array: styles:["1","3","2"] the server convert to [1,2,3].

Client:
[code]

Server:
[code]

loopback version 3.26.0 e strong-remoting 3.16.0.
solution for this?

[2019-12-21 07:57] #461 closed

[2019-12-21 07:57] #460 closed

[2019-12-28 09:19] #440 closed

[2020-02-10 18:12] #479 closed

[2020-02-15 12:00] #480 closed

[2020-03-23 02:00] Wizarth opened #482 "Server stream not closed if requested as application/json"
I've provided a unit test at: https://github.com/Wizarth/strong-remoting/tree/json-zombie-streams

## Steps to reproduce

Run the unit test in stream.js:

This case is caused by HttpInvocation.prototype.createRequest setting json: true , which is then used in HttpInvocation.prototype.invoke , when methodReturnsStream is true.

Previously reported as Loopback issue https://github.com/strongloop/loo

[2020-03-23 18:55] emonddr commented on #482
@Wizarth , thank you for providing the detailed explanation and the sandbox link.

[2020-04-01 15:52] agnes512 commented on #482
@jannyHou could you take a look at the PR? thank you!

[2020-04-03 17:44] jannyHou commented on #482
looking, will reply asap

[2020-04-07 15:01] #482 closed

[2020-12-27 21:27] mitsos1os opened #485 ".end should not be called on already handled http responses"
## Steps to reproduce

Every response  that contains plain API data (not file download, binary, etc...), is ended **twice**.
  1. from [`operationResults.sendBody`](https://github.com/strongloop/strong-remoting/blob/baa3a5baaae0a1a883dfbe7eddc26982ca071959/lib/http-context.js#L584)
  2. explicitly calling `.end` on the response [one line below](https://github.com/strongloop/strong-remoting/blob/ba

[2021-01-04 09:00] mitsos1os commented on #485
I know that officially strong-remoting is EOL. If you are willing to accept this issue, I would be happy to issue  a PR for it

[2021-12-03 05:42] AliYar-Khan commented on #144
This is happening at following versions too

loopback@2.42.0
  ├─┬ loopback-connector-remote@1.3.3
  │ └── strong-remoting@2.36.1 deduped
  └── strong-remoting@2.36.1

  Even though my end point is not accepting the variable but it is giving me such error ... posted this on stackover flow as well https://stackoverflow.com/questions/70209935/value-must-be-a-number-loopback-strong-remoting

[2022-10-13 06:27] getsnoopy opened #487 "Route paths are empty when model is mounted at /"
## Steps to reproduce

1. Set up a model where the `http.path` property is set to `/`.
2. Open Loopback Explorer (the Swagger UI).
3. See that the page fails to load.

## Current Behavior

The `addRoute` subfunction in the `RestAdapter.allRoutes` method has a bug where it doesn't account for the case where the `path` of a route is just `/`, so when [the trailing slash removal code](https://github.